fieldset(data-form-step="1", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Gestión
  .field
    label(for="pregunta_1") 1.1 ¿A partir de qué año inició operaciones su empresa?
    input(type="text",id="pregunta_1", name="pregunta_1", placeholder="Ej. 1980")

  .field
    label(for="pregunta_2") 1.2 Liste cuales son los productos o servicios ofrecen. Ejemplo: (Servicio) Venta de alimentos y bebidas. (Producto) Ofrecemos tabletas de chocolate con esencias naturales de Jamaica, chapulín, maracayá
    textarea(id="pregunta_2", name="pregunta_2")

  .field
    label(for="pregunta_3") 1.3 ¿Cuáles son los productos y/o servicios que le interesa promover en la iniciativa Mercados por un Futuro Sostenible?
    textarea(id="pregunta_3", name="pregunta_3")

  .field
    label(for="pregunta_4") 1.4 Para identificar como Mercados por un Futuro Sostenible pude ayudar a incrementar la visibilidad a su empresa, mencioné ¿cuáles son sus actuales canales de promoción/venta? Ejemplo: Cafeterías, restaurantes, Facebook, Instagram, Amazon, Mercado Libre, La Central de Abastos de Iztapalapa, Mercado del 100, GreenCorner, Aires del Campo, Slow Food, Consuma Conciencia, Verde Venus, Cafeterías de autor, Restaurantes Pujol, Ferias orgánicas de Alcaldías
    textarea(id="pregunta_4", name="pregunta_4")

  .field
    label(for="pregunta_5") 1.5 Indica cuáles han sido las capacitaciones recibidas para el fortalecimiento de tu actividad productiva, favor de incluir evidencia. Ejemplo: Capacitación en Manejo Adecuado de Residuos Sólidos, promovido por la Secretaría de Ecología del Gobierno Local a través de la Dirección de Recursos Naturales en agosto de 2019. Prevención de Accidentes en el Ambiente Laboral, impartido por la Dirección de Protección Civil del Gobierno del Estado en febrero de 2020.

    textarea(id="pregunta_5", name="pregunta_5")

  .field
    label(for="pregunta_6") 1.6 Menciona brevemente como su iniciativa promueve el cumplimiento de las regulaciones mexicanas aplicables en vigor. Ejemplo: Nuestro taller de chocolate cumple con lo que señalan las Leyes de Establecimientos Mercantiles, Ambiental, de Protección Civil y del IMSS para su correcta operación, las cuales son supervisadas por la autoridad competente.
    textarea(id="pregunta_6", name="pregunta_6")

  .field
    label(for="pregunta_7") 1.7 ¿Tu empresa cuenta con alguna certificación socioambiental?, si o no, ¿Cuál o cuáles? Ejemplo: (Productos) Distintivo Kosher, SAGARPA Orgánico. (Servicio) última actualización del distintivo H, Gestión Alimentaria.
    textarea(id="pregunta_7", name="pregunta_7")

  .field
    label(for="pregunta_8") 1.8 Han recibido algún premio o reconocimiento, si o no. Favor de mencionar cuál o cuáles han sido estos reconocimientos (por su producto, por su labor, por sus buenas prácticas) Ejemplo: (Producto) Medalla de oro, por 5 años de participación en la Expo Café y Chocolate en Guanajuato. (Servicio) Estrella Michellin
    textarea(id="pregunta_8", name="pregunta_8")

