fieldset(data-form-step="3", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Ingresos y responsabilidad compartida
  .field
    label(for="pregunta_15") 3.1 Mencione ¿Cuántas productoras/es se benefician de la compra de sus insumos (desglosar en hombres y mujeres)
    textarea(id="pregunta_15", name="pregunta_15")

  .field
    label(for="pregunta_16") 3.2 ¿Cómo colaboras para promover prácticas sostenibles entre las comunidades productivas con las que trabajas? Ejemplo: A través de aliados, instituciones de gobierno, ONGs, iniciativa privada, buscamos cercar a nuestra proveeduría a sesiones de capacitación para que adopte mejores prácticas en sus procesos.
    textarea(id="pregunta_16", name="pregunta_16")

  .field
    label(for="pregunta_17") 3.3 Indica cómo determinas el pago a tu proveeduría. Ejemplo: Realizamos la evaluación del ingreso digno entre las comunidades con las que trabajamos y de manera conjunta con las comunidades establecemos el precio de compra-venta.
    textarea(id="pregunta_17", name="pregunta_17")

  .field
    label(for="pregunta_18") 3.4 ¿Tienes establecidas algunas medidas para asegurar que tus proveedores realicen la distribución justa del pago a sus colaboradores? Ejemplo: Después de cada pago realizado, promovemos una reunión con todos los socios de la SPR que nos provee. Mediante una revisión financiera de los estados de cuenta y bitácora de acopio, el representante de la SPR paga el precio acordado y justo a cada uno de los socios.
    textarea(id="pregunta_18", name="pregunta_18")

