fieldset(data-form-step="6", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Medio ambiente
  .field
    label(for="pregunta_25") 6.1 Menciona las acciones en su iniciativa, que promueven prácticas que no causan deforestación o degradación de ecosistemas. Ejemplo: Previo a establecer relación comercial con nuestros actuales proveedores nos aseguramos de que implementaran practicas agroecológicas en el proceso productivo y evitaran el crecimiento de la frontera agrícola en las 6 hectáreas donde trabajan. En la operación de nuestra cafetería adaptamos infraestructura como la hídrica para el ahorro de agua y la lumínica para eficientizar la energía eléctrica, además empleamos suministros ecoeficientes y realizamos una gestión adecuada de residuos.
    textarea(id="pregunta_25", name="pregunta_25")

  .field
    label(for="pregunta_26") 6.2 Su iniciativa promueve "Acciones para combatir la crisis climática" Ejemplo: Evitamos el desperdicio de alimentos que sobran al donarlos a las personas que lo necesitan, actualmente donamos 30 comidas al día. En el caso de alimentos para llevar, promovemos “cero basura” al realizar descuentos especiales para quienes proporcionan sus recipientes y brindamos recipientes biodegadables con costo extra para quienes no portan contenedores; también hemos iniciado una campaña para impulsar entre nuestros consumidores el uso de sus propios termos para disminuir el empleo de desechables.
    textarea(id="pregunta_26", name="pregunta_26")

  .field
    label(for="pregunta_27") 6.3 Considera que su producto y/o servicio genera algún beneficio socioambiental, indique cuales son los beneficios ambientales que su empresa genera. Ejemplo: (Productos)Pagamos precio justo a comunidades que producen bajo sistema agroforestal y mediante prácticas orgánicas. (Servicios) contamos con un sistema de tratamiento de aguas residuales con las que damos mantenimiento a 300 m2 de jardines públicos.
    textarea(id="pregunta_27", name="pregunta_27")

  .field
    label(for="pregunta_28") 6.4 Su empresa tiene establecido indicadores que permita evaluar su impacto ambiental, si o no, ¿Señale cuáles son esos indicadores? Ejemplo: Niveles de contaminación atmosférica, porcentaje de residuos recogidos selectivamente.
    textarea(id="pregunta_28", name="pregunta_28")

