fieldset(data-form-step="2", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Trazabilidad
  .field
    label(for="pregunta_9") 2.1 ¿Cuántos puntos de venta tienen y en dónde están ubicados (localidad y municipio)? Ejemplo: Tres unidades en: Lomas de Sotero, Alcaldía Miguel Hidalgo; Miguel Ángel de Quevedo, Alcaldía Coyoacán; y Universidad, Alcaldía Coyoacán.
    textarea(id="pregunta_9", name="pregunta_9")

  .field
    label(for="pregunta_10") 2.2 Describa las características de su o sus productos y/o servicios (color, olor, diseño, peso o volumen, calidad, estética, así como otras características que crea relevante mencionar) Ejemplo: (Producto) Tabletas de chocolate puro sin lecitina de soya, libre de conservadores artificiales. (Servicio) Venta de productos locales, veganos y orgánicos.
    textarea(id="pregunta_10", name="pregunta_10")

  .field
    label(for="pregunta_11") 2.3 Mencione bajo que presentaciones ofrece sus productos o servicios, incluyendo ¿cuál es la marca? y ¿cómo están envasados o empaquetados? No aplica para cafeterías y restaurantes. Ejemplo: Vendemos tabletas de chocolate en barra en presentaciones de bolsillo 200grs y de mesa de 500grs, bajo la marca “Teobroma”. (Servicio) Nuestra empresa “Naturaleza” ofrece atención al visitante desde una perspectiva de agro-turismo en el que involucramos a los visitantes en la implementación de prácticas sostenibles en los sistemas productivos. Contamos con paquetes de atención: Completo, Intermedio y Básico.
    textarea(id="pregunta_11", name="pregunta_11")

  .field
    label(for="pregunta_12") 2.4 ¿Cuál es el volumen de producción mensual del o los productos que le interesa promover? Ejemplo: 200 tabletas de 75% chocolate puro de 250grs., 1,000 bombones cubiertos de chocolate.
    textarea(id="pregunta_12", name="pregunta_12")

  .field
    label(for="pregunta_13") 2.5 Menciona las actividades que su iniciativa realiza para promover el fortalecimiento y establecimiento de cadenas de suministro nacionales y de productos con mejores prácticas ambientales y sociales. Ejemplo: Optamos por el empleo de insumos y materiales de procedencia nacional y preferentemente de pequeños productores; por ejemplo, el huevo, tortillas y pan artesanal lo compramos de productores locales, el tamarindo, jamaica y sal es adquirido con proveedores de Guerrero que comercializan cada mes en mercado alternativo local.
    textarea(id="pregunta_13", name="pregunta_13")

  .field
    label(for="pregunta_14") 2.6 La trazabilidad, transparencia y confianza en cada acción implementada es muy importante para lograr alianzas fuertes, menciona las acciones que tomarán para aportar estos elementos en la iniciativa. Ejemplo: En nuestra cadena de suministro optamos por proveeduría local y de temporada producidas bajo prácticas sustentables, en el empaque de nuestros productos ilustramos el proceso que lleva el chocolate desde que sale de la finca hasta que es adquirido por el cliente. En los menús mencionamos el origen de los productos y de acuerdo con el interés de los comensales se pueden organizar visitas a las áreas de producción para que conozcan el proceso, así como a nuestros proveedores
    textarea(id="pregunta_14", name="pregunta_14")

