dialog.modal
  form(method="dialog")
    button.modal-close(aria-label="Cerrar modal") &times;
    .modal-container
      p.title-m.has-text-success.has-text-centered.is-uppercase Guardar borrador
      p Al guardar el formulario como borrador, podrás editarlo posteriormente, para que, al complentarlo, lo puedas enviar a revisión. 
      .buttons.are-vertical
        button.button.is-fullwidth(type="button") Guardar
        button.button.is-outlined.is-fullwidth(type="button") Cancelar

      hr.or-bar

      p #[button.modal-continue-button(aria-label="Continuar respondiendo") Continua] responiendo el cuestionario
