.profile-view {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}

.profile-view-aside {
  width: min(22rem, 100%);
}

.profile-view-content {
  flex: 1 0 min(22rem, 100%);
  content-visibility: auto;
}

.profile-view-media-links {
  --icon-size: 1.5cap;

  padding: 0;
  border: var(--controls-border);
  border-radius: 0.5rem;
  list-style: none;

  li {
    &:not(:last-child) {
      border-bottom: 1px solid var(--controls-border-color);
    }
  }

  a {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0;
    gap: 0.5rem;
    text-decoration: none;

    &::before {
      display: block;
      width: var(--icon-size);
      height: var(--icon-size);
      background: var(--link-icon) no-repeat center/contain;
      content: "";
    }

    img {
      width: var(--icon-size);
      margin-left: auto;
    }
  }
}
