fieldset(data-form-step="4", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Manejo Forestal
  .field
    label(for="pregunta_12") 4.1 Liste cuáles son todos los productos que su empresa/ejido produce/vende, y que no necesariamente le interesa promover en Mercados por un Futuro Sostenible, pero que podría interesarle para futuras transacciones. Ejemplo: madera preciosa, madera dura, madera a pie de tocón, madera en bacadilla, madera en patio, tablas, madera selecta, largas o cortas mil run, largas y cortas de rechazo, muebles, etc
    textarea(id="pregunta_12", name="pregunta_12")

  .field
    label(for="pregunta_13") 4.2 Mencione la maquinaria que tiene a su disposición para transformar la madera. Ejemplo: (Ejido o empresa forestal) Aserradero fijo de 8 pulgadas, estufa de secado para capacidad de 7 mil pt, patio de secado, bodegas de almacenamiento, grúas, etc. (Taller) Carpintería equipada con canteadora, lijadora, sierra cinta, escoplo, sierra de mesa y sierra escuadra, etc.
    textarea(id="pregunta_13", name="pregunta_13")

  .field
    label(for="pregunta_14") 4.3 ¿Cuál es el volumen de producción anual del o los productos que le interesa promover? (Empresa forestal) Ejemplo: 2,000m3 de madera de caoba, 800m3 chicozapote, 1,000m3 de tzalam y 1,000 m3 de chechén
    textarea(id="pregunta_14", name="pregunta_14")

  .field
    label(for="pregunta_15") 4.4 ¿Cuál es la capacidad de producción en piezas? (transformación de madera) Ejemplo: Actualmente tenemos capacidad de elaborar semanalmente 2 comedores para 6 personas, 5 mesas de noche, 1 cocina integral, para producir 4 mil pt diarios, etc.
    textarea(id="pregunta_15", name="pregunta_15")


