fieldset(data-form-step="3", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Ingresos y responsabilidad compartida
  .field
    label(for="pregunta_8") 3.1 Como parte de los objetivos de la Alianza de Mercados por un Futuro Sostenible y promover el pago justo de los productos o servicios ofertados por los aliados, ¿cómo determinan los precios de sus productos? Ejemplo: Determinamos un tabulador de precios donde se toman en cuenta mano de obra, transporte, combustible, desgaste de herramientas, costos de almacenamiento y posteriormente se considera la media del mercado nacional donde se considera el N% de ganancia.
    textarea(id="pregunta_8", name="pregunta_8")

  .field
    label(for="pregunta_9") 3.2 Menciona como en la medida de lo posible, su iniciativa promueve el pago justo y equitativo a las y los productores forestales. Ejemplo: En los eventos comerciales se promueve el comercio justo, el pago y distribución de utilidades se realiza de acuerdo con el reglamento del ejido o de la organización entre los 79 productores y 45 productoras.
    textarea(id="pregunta_9", name="pregunta_9")

  .field
    label(for="pregunta_10") 3.3  ¿Considera que su empresa genera algún beneficio socioambiental?, indique cuales son los beneficios. Ejemplo: (Empresa forestal) Consumo de energía eléctrica de forma razonable, transporte colectivo a trabajadores hacia áreas de corta.
    textarea(id="pregunta_10", name="pregunta_10")

  .field
    label(for="pregunta_11") 3.4 (Taller) Instalación de paneles solares para abastecimiento complementario a la operación de las oficinas del taller
    textarea(id="pregunta_11", name="pregunta_11")

