fieldset(data-form-step="6", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Medio Ambiente
  .field
    label(for="pregunta_20") 6.1 ¿Qué acciones en específico realizas entre tus colaboradores, socios y clientes en torno a prácticas sostenibles y cómo promueves una comunicación clara, específica y medible sobre estas prácticas sostenibles? (Taller) El aserrín que se genera en el aserradero se emplea como protección de superficies en áreas en las que se aplica pintura
    textarea(id="pregunta_20", name="pregunta_20")

  .field
    label(for="pregunta_21") 6.2 Menciona las acciones en su iniciativa, que promueven prácticas que no causan deforestación o degradación de ecosistemas. Ejemplo: (Empresa forestal) Trabajamos solo en áreas de aprovechamiento autorizadas para la anualidad correspondiente, evitamos el aprovechamiento de recursos forestales no autorizados, implementamos acciones para prevenir incendios forestales, así como el monitoreo de plagas y enfermedades. Además, con las distintas brigadas llevamos a cabo acciones de manejo, protección y conservación de los recursos forestales y biodiversidad de nuestro territorio. (Taller) Compramos materia prima a empresas forestales que cuentan con permisos para el aprovechamiento de madera, hacemos uso y disposición adecuada de los residuos de esmaltes y tintas
    textarea(id="pregunta_21", name="pregunta_21")

  .field
    label(for="pregunta_22") 6.3 Su iniciativa promueve "Acciones para combatir la crisis climática". Ejemplo: (Empresa forestal) Con el propósito de contrarrestar los impactos ambientales derivados del aprovechamiento forestal, se destinó para la protección de la biodiversidad una superficie de 800 has que funge como área de conservación. Actividades ecoturísticas a través de personal de ejido debidamente capacitado. (Taller) Producimos 200 plantas de especies forestales que destinamos para la reforestación de comunidades proveedoras de madera
    textarea(id="pregunta_22", name="pregunta_22")

  .field
    label(for="pregunta_23") 6.4 Su empresa tiene establecido indicadores que permita evaluar su impacto ambiental, si o no, Si es afirmativo ¿Señale cuáles son esos indicadores? Ejemplo: Niveles de contaminación atmosférica, porcentaje de residuos recogidos selectivamente
    textarea(id="pregunta_23", name="pregunta_23")
