fieldset(data-form-step="2", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Trazabilidad
  .field
    label(for="pregunta_4") 2.1 ¿Cuáles son los productos que le interesa promover en la iniciativa Mercados por un Futuro Sostenible? Ejemplo: madera selecta, especies poco conocidas, muebles, otro
    textarea(id="pregunta_4", name="pregunta_4")

  .field
    label(for="pregunta_5") 2.2 Describa las características de su o sus productos (especie, % de humedad, dureza, peso, calidad, estética, así como otras características que crea relevante mencionar) Ejemplo: Madera selecta de Caoba, estufada con un porcentaje de humedad del 12%
    textarea(id="pregunta_5", name="pregunta_5")

  .field
    label(for="pregunta_6") 2.3 Para identificar cómo Mercados por un Futuro Sostenible puede ayudar a incrementar la visibilidad de su empresa, mencioné ¿cuáles son sus actuales canales de venta? Ejemplo: Compradores locales para mercado nacional e internacional, compradores extranjeros para mercado norteamericano y europeo
    textarea(id="pregunta_6", name="pregunta_6")

  .field
    label(for="pregunta_7") 2.4 Menciona las actividades que su iniciativa realiza para promover el fortalecimiento y establecimiento de cadenas de suministro nacionales y de productos con mejores prácticas ambientales y sociales. Ejemplo: En la transformación de la madera a muebles, empleamos insumos y materiales de procedencia nacional. En el caso de ensambles de herrería, favorecemos, ante todo las piezas elaboradas por artesanos del lugar.
    textarea(id="pregunta_7", name="pregunta_7")

