fieldset(data-form-step="1", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  //- legend Información de socio
  .field(x-data="inputPassword")
    label(for="password") Actualizar contraseña
    .input-container
      input(:type="showPassword? 'text': 'password'", id="password", name="password", minlength="1", placeholder="password")
      button(type="button", x-bind="toggle", :aria-label="showPassword? 'Ocultar contraseña':'Mostrar contraseña'")
        img(src="images/icons/eye.svg", alt="")

  .field
    label(for="nombre") Nombre
    input(type="text",id="nombre", name="nombre", placeholder="Juan Pérez", required)

  .field
    p.is-label(data-required) Descripción
    // NOTE: Para el edit, el editor debe tener como parámetro content y el contenido
    // NOTE: Ej. x-data="editor({content: `Contenido a editar o por default`})"
    // NOTE: El parámetro placeholder puede omitirse o poner con un texto a mostrar
    // NOTE: Ej. x-data="editor({placeholder: 'Escribe aquí...'})"
    // NOTE: Ej. x-data="editor({placeholder: 'Escribe algo', content: `Lorem ipsum dolor`})"
    .editor-wrapper(x-data="editor({placeholder: 'Descripción del perfil', content: `<p><strong>Está es: </strong>La descripción a editar de mi producto</p>`})")
      article.editor
      textarea(hidden, name="descripcion", x-model="content")

    label.input-file(x-data="inputfile", x-bind="label", for="file_description", tabindex="0") Seleccionar archivo:
      span.input-file-name(x-text="filename") 
      button.text-md(type="button", x-bind="deleteFile") &times;
      input(type="file", id="file_description", name="file_description", hidden, x-bind="filefield")

    // NOTE: Nota para archivos
    p.text-sm.my-0(role="note")
      strong Nota:
      | El archivo que selecciones, reemplazará al anterior (en caso de existir).

    // NOTE: Lista de archivos
    article.current-files.mt-0
      p.my-0 Archivo actual:
      .input-file-list.my-1
        .input-container
          input(type="text", disabled, value="archivo1.jpg")

  .field
    p.is-label(data-required) Categoría
    p.is-label-subtitle Producto o servicio relacionado a:
    // NOTE: Para el edit, checkboxGroup debe recibir como arumento un array o un string de los valores separado por comas
    // NOTE: Ej.1 x-data="checkboxGroup(['cafe', 'flores'])"
    // NOTE: Ej.2 x-data="checkboxGroup('cafe,flores')"
    fieldset.checkbox-group.grid.w-100(x-data="checkboxGroup")
      label
        input(type="checkbox", x-model="values", value="rainforest") 
        | Certificado Rainforest Alliance

      label
        input(type="checkbox", x-model="values", value="otros") 
        | Otros alimentos

      label
        input(type="checkbox", x-model="values", value="cafe") 
        | Café

      label
        input(type="checkbox", x-model="values", value="mayoristas") 
        | Productos para mayorístas

      label
        input(type="checkbox", x-model="values", value="derivados") 
        | Derivados del Cacao

      label
        input(type="checkbox", x-model="values", value="puntosdeventa") 
        | Puntos de ventas especializados

      label
        input(type="checkbox", x-model="values", value="flores") 
        | Flores

      label
        input(type="checkbox", x-model="values", value="restaurantes") 
        | Restaurantes

      label
        input(type="checkbox", x-model="values", value="frutas") 
        | Frutas y hortalizas

      label
        input(type="checkbox", x-model="values", value="turismo") 
        | Turismo y entretenimiento

      label
        input(type="checkbox", x-model="values", value="hogar") 
        | Hogar
      input(type="hidden", name="categorias", x-bind="inputValues")

  .field
    label(for="ubicacion") Ubicación de origen
    .is-label-subtitle Producto originario de:
    select(id="ubicacion", name="ubicacion", required)
      option(value="", disabled, selected) Selecciona un estado
      option(value="AGS") Aguascalientes
      option(value="BC") Baja California
      option(value="BCS") Baja California Sur
      option(value="CAMP") Campeche
      option(value="CHIS") Chiapas
      option(value="CHIH") Chihuahua
      option(value="CDMX") Ciudad de México
      option(value="COAH") Coahuila
      option(value="COL") Colima
      option(value="DGO") Durango
      option(value="GTO") Guanajuato
      option(value="GRO") Guerrero
      option(value="HGO") Hidalgo
      option(value="JAL") Jalisco
      option(value="MEX") México (Estado de)
      option(value="MICH") Michoacán
      option(value="MOR") Morelos
      option(value="NAY") Nayarit
      option(value="NL") Nuevo León
      option(value="OAX") Oaxaca
      option(value="PUE") Puebla
      option(value="QRO") Querétaro
      option(value="QR") Quintana Roo
      option(value="SLP") San Luis Potosí
      option(value="SIN") Sinaloa
      option(value="SON") Sonora
      option(value="TAB") Tabasco
      option(value="TAM") Tamaulipas
      option(value="TLAX") Tlaxcala
      option(value="VER") Veracruz
      option(value="YUC") Yucatán
      option(value="ZAC") Zacatecas

  .field
    p.is-label(data-required) Sucursal
    // NOTE: Para el edit, el editor debe tener como parámetro content y el contenido
    // NOTE: Ej. x-data="editor({content: `Contenido a editar o por default`})"
    // NOTE: El parámetro placeholder puede omitirse o poner con un texto a mostrar
    // NOTE: Ej. x-data="editor({placeholder: 'Escribe aquí...'})"
    // NOTE: Ej. x-data="editor({placeholder: 'Escribe algo', content: `Lorem ipsum dolor`})"
    .editor-wrapper(x-data="editor({placeholder: 'Datos de la sucursal...'})")
      article.editor
      textarea(hidden, name="sucursal", x-model="content" )

    label.input-file(x-data="inputfile", x-bind="label", for="file_sucursal", tabindex="0") Seleccionar archivo:
      span.input-file-name(x-text="filename") 
      button.text-md(type="button", x-bind="deleteFile") &times;
      input(type="file", id="file_sucursal", name="file_sucursal", hidden, x-bind="filefield")

    // NOTE: Nota para archivos
    p.text-sm.my-0(role="note")
      strong Nota:
      | El archivo que selecciones, reemplazará al anterior (en caso de existir).

    // NOTE: Lista de archivos
    article.current-files.mt-0
      p.my-0 Archivos actuales:
      .input-file-list.my-1
        .input-container
          input(type="text", disabled, value="archivo1.jpg")
        .input-container
          input(type="text", disabled, value="archivo2.jpg")
        .input-container
          input(type="text", disabled, value="archivo3.jpg")

  .field
    label Certificados
    .input-file-multiple(x-data="inputfileMultiple")
      label.input-file-multiple-label(for="files_certificados", tabindex="0", x-bind="label") Click aquí para subir archivos
      input(type="file", id="files_certificados", name="file_certificados", multiple, hidden, x-bind="filefield")
      .input-file-list
        template(x-for="(file, index) in files" :key="file.name")
          .input-container
            input(type="text", disabled, :value="`${file.name} (${getFileSize(file.size)})`")
            button.text-md(type="button", @click="removeFile(index)") &times;

    // NOTE: Nota para archivos
    p.text-sm.my-0(role="note")
      strong Nota:
      | Los archivos que selecciones, reemplazarán al anterior (en caso de existir).

    // NOTE: Lista de archivos
    article.current-files.mt-0
      p.my-0 Archivo actual:
      .input-file-list.my-1
        .input-container
          input(type="text", disabled, value="archivo1.jpg")


  .field
    label(for="enlace_youtube") Enlace de vídeo de YouTube
    input(type="url", id="enlace_youtube", name="enlace_youtube", placeholder="https://youtube.com/VIDEO")

