.dropdown {
  position: relative;
  width: min(18rem, 100%);
  min-width: max-content;
  color: var(--text-light);

  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 2rem 0.75rem 1rem;
    cursor: pointer;
    list-style: none;

    &::after {
      border: 0.5rem solid var(--color-light);
      border-right-color: transparent;
      border-bottom: 0;
      border-left-color: transparent;

      /* padding-top: 1.5rem;
      content: "\1F893";
      font-size: var(--headline-m);
      line-height: 0; */
      content: "";
    }
  }
}

.dropdown-content {
  position: absolute;
  top: 100%;
  padding: 1rem;

  ul {
    overflow: hidden;
    width: 100%;
    padding: 0;
    padding-left: 0.5rem;
    margin: 0;
    list-style: none;
  }

  li {
    white-space: nowrap;
  }

  a {
    color: currentcolor;
    text-decoration: none;
  }
}

.dropdown-header {
  background-color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: var(--font-s);

  @media (--mobile) {
    width: unset;
  }

  .dropdown-content {
    background: color-mix(in srgb, var(--color-primary), #000 10%);
  }

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.dropdown-filter {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);

  summary {
    flex-flow: row-reverse;
    justify-content: center;
    color: var(--white);
    font-weight: 600;
    gap: 1rem;

    &::after {
      width: 2cap;
      height: 2cap;
      border: 0;
      background: url("images/icons/filter.svg") no-repeat center/contain;
    }
  }

  .dropdown-content {
    z-index: 10;
    width: 100%;
    background: color-mix(in srgb, var(--color-primary), #000 10%);
    font-weight: 600;

    label {
      display: block;
      cursor: pointer;

      &:has(:checked) {
        color: var(--color-accent);
      }
    }

    input {
      display: none;
    }
  }
}
