.form-sector,
.form-profile {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-sector-content,
.form-profile-content {
  flex: 2 1 calc(((var(--container-width) / 3) * 2) - 1rem);
}

.form-sector-steps,
.form-profile-steps {
  position: sticky;
  top: 1rem;
  flex: 1 0 16rem;
  align-self: flex-start;
}

.form-sector-table,
.form-profile-table {
  border-collapse: collapse;
  font-size: var(--font-sm);
  table-layout: fixed;

  th {
    width: 50%;
    text-align: left;
  }

  td {
    padding-right: 1rem;
    vertical-align: top;
  }
}
