dialog.lightbox-modal {
  padding: 0;
  border: 0;
  background: none;
  opacity: 1;
  transition: opacity 400ms;

  &[open] {
    display: grid;
    width: unset;
    height: unset;
    place-items: center;
  }

  @starting-style {
    opacity: 0;
  }

  &::backdrop {
    backdrop-filter: blur(3px);
    background: #0009;
    opacity: 1;
    transition: opacity 400ms;
  }

  form {
    display: contents;
  }

  img {
    display: block;
    max-width: calc(100vw - 4rem);
    max-height: calc(100vh - 4rem);
  }
}

.lightbox-modal-close {
  position: fixed;
  top: -0.5rem;
  right: 0.25rem;
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1;
  text-shadow: 0 0 4px var(--color-text);
}
