dialog[class*="modal"] {
  width: min(34rem, 100% - 2rem);
  border: 0;
  border-radius: 0.5rem;
  animation: fade-in 300ms ease forwards;
  opacity: 0;
  overscroll-behavior: contain;
  transition: scale 0.3s ease display 0.3s;
  transition-behavior: allow-discrete;

  &.is-full-image {
    width: min(40rem, 100% - 2rem);

    .modal-container {
      width: fit-content;
    }
  }

  &::backdrop {
    background: color-mix(in srgb, var(--color-dark), transparent 50%);
  }

  &[open] {
    scale: 1;

    @starting-style {
      scale: 0;
    }
  }

  [method="dialog"] {
    padding: 0;
  }
}

.modal-container {
  width: min(28rem, 100% - 2rem);
  inset: 0;
  margin-inline: auto;
  padding-block: 0 2rem;

  .buttons {
    margin-top: 3rem;
  }
}

.modal-close {
  display: block;
  border: 2px solid;
  border-radius: var(--controls-radius);
  margin-left: auto;
  background: none;
  cursor: pointer;
  font-size: 1.5em;
  line-height: 1;
}

.modal-continue-button {
  border: 0;
  background: none;
  color: var(--color-success);
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
