.new-account-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.new-account-content {
  flex: 2 1 calc(((var(--container-width) / 3) * 2) - 1rem);
}

.new-account-buttons {
  position: sticky;
  top: 1rem;
  flex: 1 0 10rem;
  align-self: flex-start;
}
