@layer components {
  .pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-block: 1rem;
  }

  .pagination-button,
  .pagination-button-prev,
  .pagination-button-next,
  .pagination a {
    display: grid;
    color: currentcolor;
    font-size: var(--font-l);
    place-items: center;
    text-decoration: none;

    &.is-active {
      color: var(--color-primary);
    }

    img {
      max-width: 1.5rem;
    }
  }
}
