@layer components {
  .search-control {
    display: flex;
    overflow: hidden;
    border: 1px solid var(--color-primary);
    border-radius: var(--controls-radius);
    color: var(--color-text-light);
    margin-inline: 1rem;

    &:focus-within {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    input {
      flex: 1;
      border: 0;
      border-radius: 0;
      background-color: var(--dark-alpha);
      color: var(--color-text-light);
      font-weight: 400;

      &:placeholder-shown {
        color: var(--color-text-light);
      }
    }

    button {
      display: inline-flex;
      border: 0;
      background: var(--color-primary);
      cursor: pointer;
      padding-inline: 0.85rem;

      &:focus-visible {
        box-shadow: 0 0 10px var(--color-light) inset;
      }
    }
  }
}
