.header-search-bar {
  --header-image-width: 10rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (--mobile) {
    display: grid;
  }
}

.search {
  flex: 1 0 16rem;
  padding-inline: 1rem;

  @media (--mobile) {
    padding: 0.5rem;
  }
}

.search-form {
  padding: 0;
  margin: 0;

  .input-container {
    border: 0;
    background: var(--color-light);
    color: initial;
  }

  .button {
    --button-icon-size: 1.25rem;
  }
}

.search-bar-image {
  position: relative;
  width: var(--header-image-width);
  flex: 0 0 var(--header-image-width);
  align-self: stretch;

  @media (--tablet) {
    display: none;
  }

  img {
    position: absolute;
    bottom: 0;
    width: calc(var(--header-image-width) - 2rem);
  }
}
