@layer components {
  .tabs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tabs-button {
    flex: 1;
    padding-bottom: 0.5rem;
    border: 0;
    border-bottom: 2px solid var(--color-disabled);
    background: none;
    color: currentcolor;
    cursor: pointer;
    font-weight: 600;
    text-align: left;

    @media (--mobile) {
      font-size: var(--font-sm);
    }

    &[aria-selected="true"] {
      border-bottom-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  .grid-tab {
    --grid-gap: 3rem;

    padding: 2rem;

    > img {
      border-radius: 0.5rem;
      aspect-ratio: 4/3;
      object-fit: cover;
    }
  }
}
