@layer components {
  .section-title {
    font-size: var(--font-xl);
    font-weight: 600;
    margin-block: 5rem;
    text-align: center;
    text-transform: uppercase;

    &.is-light {
      font-size: var(--font-xl);
      font-weight: 300;
    }

    &.is-big {
      font-size: var(--headline-l);
      line-height: 1;
      margin-inline: auto;
      text-wrap: balance;

      @media (--mobile) {
        font-size: var(--font-nm);
      }
    }

    strong {
      color: var(--color-primary);
      font-weight: inherit;
    }
  }
}
