footer.footer
  .container.py-2
    .is-flex.is-columns.align-items-center.is-gapless
      p.has-text-accent.has-font-secondary.m-0 Síguenos en redes sociales con los hashtags:
      p.has-text-grey.m-0 #ConoceCambiaComparte #FuturoSostenible
      ul.is-flex.is-centered.is-gap-05.my-1
        li.menu-item
          a.menu-link(href="#!", aria-label="Facebook")
            img(src="images/icons/facebook.svg", alt="", aria-hidden="true")
        li.menu-item
          a.menu-link(href="#!", aria-label="x/Twitter")
            img(src="images/icons/x.svg", alt="", aria-hidden="true")
        li.menu-item
          a.menu-link(href="#!", aria-label="Instagram")
            img(src="images/icons/instagram.svg", alt="", aria-hidden="true")
        li.menu-item
          a.menu-link(href="#!", aria-label="YouTube")
            img(src="images/icons/youtube.svg", alt="", aria-hidden="true")
  .container.is-fullwidth.has-background-grey-500.pb-3
    .is-flex.is-columns.align-items-center
      p.has-text-white.title-m.is-uppercase ¡Unete a la alianza!
      a.button.is-large(href="#") Encuentra información para tu empresa
  .container.banner
    img.banner-image(src="images/footer-foto.webp", alt="", aria-hidden="true")
    .banner-content
      img(src="images/footer-ilustracion.webp", alt="", loading="lazy")
      a.has-text-terracotta(href="mailto:info@mercadosporunfuturosostenible.org") info@mercadosporunfuturosostenible.org
  .container.py-2
    .is-flex.is-centered.is-gap-2.is-flex-wrap
      img(src="images/logo-usaid.png", alt="", loading="lazy")
      img(src="images/logo_forest.png", alt="", loading="lazy")
  .container.is-fullwidth.has-background-primary.py-4
    .grid.has-centered-items
      img(src="https://placehold.co/265x48", alt="")
      ul.menu.menu-footer
        li.menu-item
          a(href="#!") En alianza
        li.menu-item
          a(href="#!") Directorio
        li.menu-item
          a(href="#!") Blog
        li.menu-item
          a(href="#!") Prensa

  .container.has-background-accent.has-text-centered.pb-2
    p.text-sm © Copyright 2020 | www.mercadosporunfuturosostenible.org | Todos los derechos reservados
    p
     a.has-text-light(href="#!") Términos y condiciones
    .text-tiny
      p Este sitio web fue posible gracias al apoyo del pueblo de los Estados Unidos, a través de la Agencia de los Estados Unidos para el Desarrollo Internacional (USAID).
      p El contenido de sitio web es responsabilidad de Rainforest Alliance y no necesariamente refleja el punto de vista de USAID o del gobierno de los Estados Unidos.
        

    

//- script(src="https://unpkg.com/alpinejs", defer)
script(src="js/main.js")
