.form-profile-steps
  p.text-bold-l Perfil de socio
  table.form-profile-table.mb-1
    thead
      tr
        th Nombre:
        th Última edición
    tbody 
      tr 
        td Flores de Chiltepec, Lorem ipsum dolor
        td Hoy

  .buttons.are-vertical.are-steps.mb-1
    button.button.is-outlined.is-fullwidth.is-step(type="button", value="1", @click="setCurrentStep", :class="{'is-current': currentStep === +$el.value, 'is-filled': isFilled()}")
      <svg class="step-icon" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path d="M20.25 3.75H3.75C3.35218 3.75 2.97064 3.90804 2.68934 4.18934C2.40804 4.47064 2.25 4.85218 2.25 5.25V18.75C2.25 19.1478 2.40804 19.5294 2.68934 19.8107C2.97064 20.092 3.35218 20.25 3.75 20.25H20.25C20.6478 20.25 21.0294 20.092 21.3107 19.8107C21.592 19.5294 21.75 19.1478 21.75 18.75V5.25C21.75 4.85218 21.592 4.47064 21.3107 4.18934C21.0294 3.90804 20.6478 3.75 20.25 3.75ZM20.25 5.25V14.8828L17.8059 12.4397C17.6666 12.3004 17.5013 12.1898 17.3193 12.1144C17.1372 12.039 16.9422 12.0002 16.7452 12.0002C16.5481 12.0002 16.3531 12.039 16.1711 12.1144C15.989 12.1898 15.8237 12.3004 15.6844 12.4397L13.8094 14.3147L9.68438 10.1897C9.4031 9.9086 9.02172 9.7507 8.62406 9.7507C8.22641 9.7507 7.84503 9.9086 7.56375 10.1897L3.75 14.0034V5.25H20.25ZM3.75 16.125L8.625 11.25L16.125 18.75H3.75V16.125ZM20.25 18.75H18.2466L14.8716 15.375L16.7466 13.5L20.25 17.0044V18.75ZM13.5 9.375C13.5 9.1525 13.566 8.93499 13.6896 8.74998C13.8132 8.56498 13.9889 8.42078 14.1945 8.33564C14.4 8.25049 14.6262 8.22821 14.8445 8.27162C15.0627 8.31502 15.2632 8.42217 15.4205 8.5795C15.5778 8.73684 15.685 8.93729 15.7284 9.15552C15.7718 9.37375 15.7495 9.59995 15.6644 9.80552C15.5792 10.0111 15.435 10.1868 15.25 10.3104C15.065 10.434 14.8475 10.5 14.625 10.5C14.3266 10.5 14.0405 10.3815 13.8295 10.1705C13.6185 9.95952 13.5 9.67337 13.5 9.375Z" fill="currentcolor"/>
      </svg>
      span.button-step-container
        span.button-step-title Información de socio
        span.button-step-description Nombre, descripción, origen, sucursal, certificados y vídeo.

    button.button.is-outlined.is-fullwidth.is-step(type="button", value="2", @click="setCurrentStep", :class="{'is-current': currentStep === +$el.value, 'is-filled': isFilled()}")
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
      <path d="M10 0.25C8.07164 0.25 6.18657 0.821828 4.58319 1.89317C2.97982 2.96451 1.73013 4.48726 0.992179 6.26884C0.254225 8.05042 0.061142 10.0108 0.437348 11.9021C0.813554 13.7934 1.74215 15.5307 3.10571 16.8943C4.46928 18.2579 6.20656 19.1865 8.09787 19.5627C9.98919 19.9389 11.9496 19.7458 13.7312 19.0078C15.5127 18.2699 17.0355 17.0202 18.1068 15.4168C19.1782 13.8134 19.75 11.9284 19.75 10C19.7473 7.41498 18.7192 4.93661 16.8913 3.10872C15.0634 1.28084 12.585 0.25273 10 0.25ZM4.945 16.5156C5.48757 15.6671 6.23501 14.9688 7.11843 14.4851C8.00185 14.0013 8.99283 13.7478 10 13.7478C11.0072 13.7478 11.9982 14.0013 12.8816 14.4851C13.765 14.9688 14.5124 15.6671 15.055 16.5156C13.6097 17.6397 11.831 18.2499 10 18.2499C8.16905 18.2499 6.39032 17.6397 4.945 16.5156ZM7 9.25C7 8.65666 7.17595 8.07664 7.5056 7.58329C7.83524 7.08994 8.30378 6.70542 8.85195 6.47836C9.40013 6.2513 10.0033 6.19189 10.5853 6.30764C11.1672 6.4234 11.7018 6.70912 12.1213 7.12868C12.5409 7.54824 12.8266 8.08279 12.9424 8.66473C13.0581 9.24667 12.9987 9.84987 12.7716 10.3981C12.5446 10.9462 12.1601 11.4148 11.6667 11.7444C11.1734 12.0741 10.5933 12.25 10 12.25C9.20436 12.25 8.44129 11.9339 7.87868 11.3713C7.31607 10.8087 7 10.0456 7 9.25ZM16.165 15.4759C15.3285 14.2638 14.1524 13.3261 12.7844 12.7806C13.5192 12.2019 14.0554 11.4085 14.3184 10.5108C14.5815 9.6132 14.5582 8.6559 14.252 7.77207C13.9457 6.88825 13.3716 6.12183 12.6096 5.5794C11.8475 5.03696 10.9354 4.74548 10 4.74548C9.06462 4.74548 8.15248 5.03696 7.39044 5.5794C6.62839 6.12183 6.05432 6.88825 5.74805 7.77207C5.44179 8.6559 5.41855 9.6132 5.68157 10.5108C5.94459 11.4085 6.4808 12.2019 7.21563 12.7806C5.84765 13.3261 4.67147 14.2638 3.835 15.4759C2.77804 14.2873 2.0872 12.8185 1.84567 11.2464C1.60415 9.67427 1.82224 8.06584 2.47368 6.61478C3.12512 5.16372 4.18213 3.93192 5.51745 3.06769C6.85276 2.20346 8.40943 1.74367 10 1.74367C11.5906 1.74367 13.1473 2.20346 14.4826 3.06769C15.8179 3.93192 16.8749 5.16372 17.5263 6.61478C18.1778 8.06584 18.3959 9.67427 18.1543 11.2464C17.9128 12.8185 17.222 14.2873 16.165 15.4759Z" fill="currentcolor"/>
      </svg>
      span.button-step-container
        span.button-step-title Imágenes de perfil
        span.button-step-description Logotigpo e imágenes de perfil.

    button.button.is-outlined.is-fullwidth.is-step(type="button", value="3", @click="setCurrentStep", :class="{'is-current': currentStep === +$el.value, 'is-filled': isFilled()}")
      <svg width="22" height="18" viewBox="0 0 22 18" fill="none">
      <path d="M21.5 5.27183C21.4624 6.57744 20.9255 7.81892 20 8.74058L16.7422 12.0003C16.2677 12.4773 15.7033 12.8556 15.0816 13.113C14.46 13.3705 13.7935 13.5021 13.1206 13.5003H13.1159C12.4316 13.4998 11.7543 13.3622 11.124 13.0955C10.4938 12.8289 9.92333 12.4386 9.44642 11.9478C8.96952 11.457 8.59581 10.8756 8.34738 10.238C8.09894 9.60032 7.98082 8.91934 7.99999 8.23526C8.00558 8.03635 8.08996 7.84781 8.23457 7.71111C8.37918 7.57442 8.57217 7.50076 8.77108 7.50636C8.96999 7.51195 9.15853 7.59634 9.29523 7.74094C9.43193 7.88555 9.50558 8.07854 9.49998 8.27745C9.48633 8.76113 9.56976 9.24265 9.74536 9.69353C9.92095 10.1444 10.1851 10.5555 10.5223 10.9026C10.8595 11.2496 11.2628 11.5256 11.7085 11.7141C12.1541 11.9027 12.633 12 13.1169 12.0003C13.5925 12.0015 14.0637 11.9084 14.5032 11.7264C14.9426 11.5444 15.3416 11.2771 15.6772 10.94L18.935 7.68214C19.6071 7.00152 19.9827 6.08262 19.9797 5.12605C19.9767 4.16949 19.5954 3.25295 18.919 2.57655C18.2426 1.90015 17.3261 1.51883 16.3695 1.51584C15.4129 1.51285 14.494 1.88842 13.8134 2.56058L12.7822 3.59183C12.6404 3.72654 12.4516 3.80053 12.256 3.79803C12.0604 3.79553 11.8736 3.71672 11.7353 3.57842C11.597 3.44012 11.5182 3.25327 11.5157 3.05769C11.5132 2.86212 11.5871 2.67331 11.7219 2.53151L12.7531 1.50026C13.2289 1.02432 13.7938 0.646776 14.4155 0.38919C15.0372 0.131603 15.7036 -0.000976562 16.3765 -0.000976562C17.0495 -0.000976562 17.7159 0.131603 18.3376 0.38919C18.9593 0.646776 19.5242 1.02432 20 1.50026C20.4928 1.99429 20.8799 2.58342 21.1378 3.23181C21.3957 3.88021 21.5189 4.57429 21.5 5.27183ZM9.21873 14.4059L8.18749 15.4371C7.85113 15.7757 7.45083 16.0441 7.00984 16.2266C6.56886 16.4091 6.09599 16.5021 5.61874 16.5003C4.90277 16.4997 4.20304 16.2869 3.60795 15.8888C3.01287 15.4907 2.54913 14.9252 2.27534 14.2636C2.00155 13.6021 1.92999 12.8742 2.06971 12.172C2.20942 11.4698 2.55414 10.8248 3.0603 10.3184L6.31249 7.06058C6.82472 6.54564 7.47996 6.19662 8.1931 6.05885C8.90624 5.92107 9.64433 6.00092 10.3115 6.28801C10.9787 6.5751 11.5441 7.05617 11.9344 7.66874C12.3247 8.28131 12.5217 8.99708 12.5 9.72308C12.4944 9.92199 12.568 10.115 12.7047 10.2596C12.8414 10.4042 13.03 10.4886 13.2289 10.4942C13.4278 10.4998 13.6208 10.4261 13.7654 10.2894C13.91 10.1527 13.9944 9.96418 14 9.76526C14.018 9.06882 13.8943 8.37599 13.6365 7.72879C13.3786 7.08159 12.992 6.49352 12.5 6.00026C11.5392 5.03991 10.2364 4.50043 8.87795 4.50043C7.51952 4.50043 6.21669 5.03991 5.25592 6.00026L1.99999 9.25808C1.28395 9.97382 0.796157 10.8858 0.598245 11.8786C0.400334 12.8715 0.501189 13.9008 0.888065 14.8364C1.27494 15.772 1.93047 16.5719 2.77182 17.135C3.61317 17.6982 4.60257 17.9993 5.61498 18.0003C6.28799 18.0022 6.95469 17.8706 7.5765 17.6132C8.19831 17.3557 8.76286 16.9774 9.23748 16.5003L10.2687 15.469C10.3901 15.326 10.4535 15.1428 10.4465 14.9554C10.4394 14.768 10.3624 14.59 10.2306 14.4566C10.0988 14.3232 9.92183 14.2439 9.73452 14.2346C9.54722 14.2252 9.3632 14.2863 9.21873 14.4059Z" fill="currentcolor"/>
      </svg>
      span.button-step-container
        span.button-step-title Datos
        span.button-step-description Enlaces, etiqueta y proveedores.

  .buttons.are-vertical
    button.button.is-fullwidth.is-success(type="button", :class="{'is-loading': isLoading}", :disabled="currentStep >= totalSteps",@click="setCurrentStep") Siguiente
    //- button.button.is-fullwidth(type="submit", value="1", @click="setDraft") Guardar borrador
    //- button.button.is-fullwidth.is-outlined(type="submit",value="0" @click="setDraft") Enviar a revisión
    button.button.is-fullwidth(@click="sendForm",:class="{'is-loading': isLoading}" data-modal-target="modal-send") Guardar cambios

