.field {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding-inline: 0.25rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &.in-row {
    flex-flow: row wrap;
  }

  &.has-centered-content {
    align-items: center;
    justify-content: center;
  }

  &:has([required], [data-required])
    > :is(label, [data-required]):first-child::after {
    color: var(--color-error);
    content: "*";
  }

  &:has(.help) .help {
    margin-top: 0;
  }

  & > div {
    width: 100%;
  }

  .field {
    margin-bottom: 0.5rem;
  }
}

:where(label, .is-label):not(:has(> [type="checkbox"])) {
  margin-bottom: 0.25rem;
  font-weight: 700;

  &:has(+ .is-label-subtitle) {
    margin-bottom: 0;
  }
}

.is-label-subtitle {
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--color-text-grey);
  font-size: var(--font-sm);
}
