textarea,
.textarea {
  min-height: 10rem;
  resize: vertical;
}

input,
textarea,
.input,
.textarea {
  width: 100%;
  padding: var(--controls-padding);
  border: var(--controls-border);
  border-radius: var(--controls-radius);
  background: none;
  color: currentcolor;
  font-size: var(--font-sm);

  &:placeholder-shown:not(.has-background-white) {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &[disabled] {
    color: color-mix(in srgb, var(--color-text), transparent 50%);
  }

  &[readonly] {
    pointer-events: none;
    user-select: none;
  }
}

input[type="checkbox"] {
  width: 1.5cap;
  height: 1.5cap;
  accent-color: var(--color-accent);
}

label:has([type="checkbox"]) {
  cursor: pointer;
}

.input-file {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--controls-padding);
  border: var(--controls-border);
  border-radius: var(--controls-radius);
  background: var(--color-light);
  color: var(--color-text-grey);
  font-size: var(--font-sm);
  font-weight: 400;
  gap: 0.5rem;

  &::before {
    --icon-size: 16px;

    width: var(--icon-size);
    height: var(--icon-size);
    background: var(--file-icon) no-repeat center / contain;
    content: "";
  }

  button {
    border: 0;
    margin-left: auto;
    background: none;
    cursor: pointer;
  }
}

.input-file-name {
  color: var(--color-accent);
  font-weight: 700;
}

.input-file-multiple {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--controls-radius);
  background: color-mix(in srgb, var(--color-disabled), transparent 50%);
  content-visibility: auto;

  label.input-file-multiple-label {
    display: flex;
    align-items: center;
    border-radius: var(--controls-radius);
    margin-bottom: 0.5rem;
    color: var(--color-accent);
    cursor: pointer;
    font-size: var(--font-sm);
    gap: 0.5rem;

    &::before {
      --icon-size: 16px;

      width: var(--icon-size);
      height: var(--icon-size);
      background: var(--file-icon) no-repeat center / contain;
      content: "";
    }

    &:focus-visible {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }
  }
}

.input-file-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .input-container {
    background-color: var(--color-light);
  }
}

.input-preview {
  width: 100%;
}

.input-preview-image {
  max-width: 16rem;
  padding: 0.5rem;
  border: var(--controls-border);
  border-radius: var(--controls-radius);
  aspect-ratio: 1;
  object-fit: contain;
}
