extends ../templates/default
block vars
 - title = "Contacto"
 - classes = "contact"
block content
  .container
    section.hero.is-medium
      .hero-container
        // Hero Card
        div.hero-card
          // Imagen Hero Card
          img.hero-image(src="images/demo/image-2.jpg", alt="", loading="lazy")
          // Contenido Hero Card
          .container.hero-card-container
            .hero-content.is-flex.is-columns.is-end
              // Título Hero Card
              p.text-regular-italic-l.has-text-white Acercate a nosotros
              h1.title-l.has-text-white.is-uppercase contacto

    section.container.is-fullwidth.has-margin-bottom.has-background-lighter-grey
      .grid.columns-2.has-margin-bottom.mt-2
        div.is-flex.is-columns
          h3.title-m.has-text-accent.is-uppercase Impacto desde el Paisaje
          .content-editor.flex-grow
            p Nuestros proyectos generan impacto positivo en el medio ambiente y mejoran las condiciones socioeconómicas de los productores, promoviendo prácticas agrícolas sostenibles que aumentan sus ingresos y resiliencia climática. Cada iniciativa cumple altos estándares ESG, garantizando gobernanza ambiental y social.
          div
            ul.no-bullets.contact-data
              li
                strong Telefono
                | 52 123 45678
              li
                strong Correo
                | 52 123 45678
        div
          form.pb-0
            div.field
              label(for="name") Nombre
              input.has-background-white(type="text", placeholder="Nombre", id="name", name="name", required)
            div.field
              label(for="email") Correo
              input.has-background-white(type="text", placeholder="Correo", id="email", name="email", required)
            div.field
              label(for="area") Área de interés
              select.has-background-white(id="area", name="area", required)
                option(value="", disabled, selected) Selecciona un área de interés
                option(value="area1") Área 1
                option(value="area2") Área 2
            div.field
              label(for="mensaje") Mensaje
              textarea.has-background-white(id="mensaje", name="mensaje", placeholder="Mensaje")
            div.buttons
              input.button.is-large(type="submit", value="Contáctanos")