extends ../templates/default
block vars
 - title = "Convocatorias"
 - classes = "convocatorias"
block content
  .container.has-margin-bottom
    section.hero.is-medium
      .hero-container
        // Hero Card
        div.hero-card
          // Imagen Hero Card
          img.hero-image(src="images/demo/image-2.jpg", alt="", loading="lazy")
          // Contenido Hero Card
          .container.hero-card-container
            .hero-content.is-flex.is-columns.is-end
              // Título Hero Card
              p.text-regular-italic-l.has-text-white Participa
              h1.title-l.has-text-white.is-uppercase Convocatorias

    section
      h2.title-m.has-text-accent.is-uppercase Convocatorias actuales
      .buttons.mt-2
        a.button.is-large.is-current(href="#")
          img(src="images/icons/icon_actuales.svg", alt="", loading="lazy")
          span Actuales
        a.button.is-large(href="#")
          img(src="images/icons/icon_pasadas.svg", alt="", loading="lazy")
          span Nuestras soluciones
      .grid.columns-3.is-gap-row3.mt-2
        article.card.card-post
          img(src="images/demo/image-1.jpg", alt="", loading="lazy")
          div.card-post-content
            h3.title-xs-500.has-text-accent.is-uppercase Nombre de la convocatoria...
            p.text-semibold-s.has-text-accent 27 de julio de 2023
            p Los pasados 15 y 16 de junio de 2023 se celebró la Cumbre de Madera de Conservación de la Selva Maya 2023, el foro comercial que reunió a compradores de madera, inversionistas, representantes...
            .buttons
              a.button-is-text(href="#") Continuar leyendo >>
        article.card.card-post
          img(src="images/demo/image-1.jpg", alt="", loading="lazy")
          div.card-post-content
            h3.title-xs-500.has-text-accent.is-uppercase Nombre de la convocatoria...
            p.text-semibold-s.has-text-accent 27 de julio de 2023
            p Los pasados 15 y 16 de junio de 2023 se celebró la Cumbre de Madera de Conservación de la Selva Maya 2023, el foro comercial que reunió a compradores de madera, inversionistas, representantes...
            .buttons
              a.button-is-text(href="#") Continuar leyendo >>
        article.card.card-post
          img(src="images/demo/image-1.jpg", alt="", loading="lazy")
          div.card-post-content
            h3.title-xs-500.has-text-accent.is-uppercase Nombre de la convocatoria...
            p.text-semibold-s.has-text-accent 27 de julio de 2023
            p Los pasados 15 y 16 de junio de 2023 se celebró la Cumbre de Madera de Conservación de la Selva Maya 2023, el foro comercial que reunió a compradores de madera, inversionistas, representantes...
            .buttons
              a.button-is-text(href="#") Continuar leyendo >>
        article.card.card-post
          img(src="images/demo/image-1.jpg", alt="", loading="lazy")
          div.card-post-content
            h3.title-xs-500.has-text-accent.is-uppercase Nombre de la convocatoria...
            p.text-semibold-s.has-text-accent 27 de julio de 2023
            p Los pasados 15 y 16 de junio de 2023 se celebró la Cumbre de Madera de Conservación de la Selva Maya 2023, el foro comercial que reunió a compradores de madera, inversionistas, representantes...
            .buttons
              a.button-is-text(href="#") Continuar leyendo >>
      .buttons.are-centered.mt-2
        a.button.is-step(href="#")
          // Faltan estilos de paginación
          | 1
