extends ../templates/default
block vars
 - title = "Cuenta creada"
 - classes = ""
block content
  .container
    .modal-container
      p.title-m.has-text-accent.has-text-centered.is-uppercase Tu cuenta no ha sido aprobada
      p Lamentablemente después de revisar minusiosamente tu solicitud, esta ha sido rechazada.
      p Pero no te preocupes, puedes seguir participando en las siguientes convocatorias que realizarémos, estate al pendiente en nuestro sitio para las próximas convocatorias.
      p Agradecemos tu paciencia e interés.

      .buttons.are-vertical
        a.button.is-fullwidth(href="/") Ir al inicio

