extends ../templates/default
block vars
 - title = "Inicio"
 - classes = "home"
block content
  .container
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta itaque et inventore maxime voluptates ratione est obcaecati neque explicabo, velit, beatae illo. Iusto officia dolorum sunt voluptatibus id nesciunt soluta?
