extends ../templates/default
block vars
 - title = "Inicio"
 - classes = "home"
block content
  .container
    p 
     img(src="https://placehold.co/320x240/663399/ffffff/webp?text=Layout+Flow", alt="")
     | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta itaque et inventore maxime voluptates ratione est obcaecati neque explicabo, velit, beatae illo. Iusto officia dolorum sunt voluptatibus id nesciunt soluta?
