extends ../templates/default
block vars
 - title = "Perfil de Flores de Chiltepec"
 - classes = "view-profile"
block content
  .container
    h1.title-m.has-text-accent.is-uppercase Flores de Chiltepec
    .profile-view
      aside.profile-view-aside.pb-2
        img.profile-view-image(src="https://placehold.co/600x480/d4055f/fff", alt="Flores de Chiltepec logo")

        p.text-sm.has-text-accent.is-uppercase(id="links-title") Vínculos
        ul.profile-view-media-links(aria-labelledby="links-title")
          li
            a(href="#!", target="_blank", rel="nooepener noreferrer") chiltepec.com #[img(src="images/icons/link-external.svg", alt="")]
          li
            a(href="#!", target="_blank", rel="nooepener noreferrer") instagram.com/chitepec #[img(src="images/icons/link-external.svg", alt="")]
          li
            a(href="#!", target="_blank", rel="nooepener noreferrer") facebook.com/chiltepec #[img(src="images/icons/link-external.svg", alt="")]

        p.text-sm.has-text-accent.is-uppercase(id="find-it-in") Encuentralo en:
        .profile-view-find-it.grid.columns-3(aria-labelledby="find-it-in")
          a(href="https://walmart.com.mx", target="_blank", rel="nooepener noreferrer")
            img(src="https://placehold.co/300x240/dodgerblue/white?text=Walmart", alt="")
          a(href="https://costco.com.mx", target="_blank", rel="nooepener noreferrer")
            img(src="https://placehold.co/300x240/gainsboro/red?text=Costco", alt="")
          a(href="https://www.homedepot.com.mx", target="_blank", rel="nooepener noreferrer")
            img(src="https://placehold.co/300x240/orange/white?text=Home+Depot", alt="")

        p.text-sm.has-text-accent.is-uppercase(id="tags-list") Etiquetas:
        ul.tags-list(aria-labelledby="tags-list")
          li.tag 
            a(href="#!") Agricultura
          li.tag 
            a(href="#!") Buenas prácticas
          li.tag
            a(href="#!") Flores
          li.tag 
            a(href="#!") Mitigación al cambio climático
          li.tag 
            a(href="#!") Viveros
          li.tag 
            a(href="#!") Producto de México
          li.tag 
            a(href="#!") Sostenible
          li.tag 
            a(href="#!") Alianza con pequeños productores

        a.button.is-fullwidth(href="#!") Editar perfil

      section.profile-view-content.pb-2
        .lightbox(x-data="lightbox", x-bind="lightbox")
          .profile-view-product-images.grid.columns-4.lightbox-grid
            img(src="https://placehold.co/400/deeppink/white", alt="imagen del producto")
            img(src="https://placehold.co/200/hotpink/white", alt="imagen del producto")
            img(src="https://placehold.co/800/tomato/white", alt="imagen del producto")
            img(src="https://placehold.co/600/salmon/white", alt="imagen del producto")
          dialog.lightbox-modal
            form(method="dialog")
              button.lightbox-modal-close &times;
            img(alt="")

        nav.profile-view-product-links
          a(href="#about") Acerca de
          a(href="#origin") Origen
          a(href="#branch") Sucursales
          a(href="#certifications") Certificaciones


        section.profile-view-product-info
          h2(id="about").title-s Acerca de Flores de Chiltepec
          p Empresa orgullosamente mexicana que ha ganado el reconocimiento nacional e internacional por la calidad de los productos que cultiva.
          p Flores de Chiltepec se caracteriza principalmente por cuidar todos los detalles que potencialicen los niveles de calidad, atención y satisfacción del mercado de flores en México.

          figure.profile-view-main-image
            img(src="https://placehold.co/1280x768", alt="Imagen principal del producto")
            figcaption
              p Descripción de la imagen

          // TODO: video
          figure.profile-view-product-video
            iframe(src="https://www.youtube.com/embed/LHXyPTmliNs", title="video de producto")

          h2(id="origin").title-s Origen
          p Producto originario de: #[span.product-view-origin-link Estado de México]

          h2(id="branch").title-s Sucursales
          p 
            strong Comercializadora Chiltepec: Mercado de Jamaica
          p Guillermo Prieto No 61, Col. Jamaica Delegación Venustiano Carranza, Local #5 C.P 15800 Ciudad de Mexico D.F.

          h2(id="certifications").title-s Certificaciones
          .profile-view-certifications
            a(href="#!", target="_blank", rel="nooepener noreferrer")
              img(src="https://placehold.co/120", alt="")
            a(href="#!", target="_blank", rel="nooepener noreferrer")
              img(src="https://placehold.co/120/orangered/white", alt="")
            a(href="#!", target="_blank", rel="nooepener noreferrer")
              img(src="https://placehold.co/120/slategrey/white", alt="")
