extends ../templates/default
block vars
 - title = "Perfil de usuario"
 - classes = ""
block content
  .container(x-data="modals")
    h2.has-text-grey.has-font-secondary.mb-0 Editar perfil de socio

    .sheet-steps(x-data="steps")
      form.form-profile(x-data="form({actionURL: 'https://eourk6ud7pgk7hb.m.pipedream.net'})", x-bind="form", autocomplete="off")
        input(type="hidden", name="id", value="0")
        .form-profile-content
          .message(x-cloak, x-show="message", :class="{[messageType]: messageType}",x-transition)
            p(x-text="message")

          include ../templates/parts/profile/info
          include ../templates/parts/profile/images
          include ../templates/parts/profile/data

        include ../templates/parts/form-steps-profile

        //-.modals
          +modal({title:"Guardar borrador", name:"modal-draft"})
            p Al guardar el formulario como borrador, podrás editarlo posteriormente, para que, al complentarlo, lo puedas enviar a revisión. 
            .buttons.are-vertical
              button.button.is-fullwidth(type="button", value="1", @click="setDraft") Guardar borrador
              button.button.is-outlined.is-fullwidth(type="button", x-bind="modalClose") Cancelar

            hr.or-bar

            p #[button.modal-continue-button(type="button", aria-label="Continuar respondiendo", x-bind="modalClose") Continua] responiendo el cuestionario

          // Modal enviar a revisión
          +modal({title:"¿Enviar a revisión?", name:"modal-send", titleClass:"has-text-accent"})
            p Al enviar el formulario a revisión, serán examinadas y validadas tus respuesta para proceder a aceptar (o rechazar) el alta de tu producto.
            p Asegurate de revisar y verificar cada una de tus respuestas.
            .buttons.are-vertical
              button.button.is-fullwidth(type="button", value="0", @click="setDraft") Enviar
              button.button.is-outlined.is-fullwidth(type="button", x-bind="modalClose") Cancelar

            hr.or-bar(data-or-text="¿No lo has acabado aún?")

            p #[button.modal-continue-button(type="button", aria-label="Continuar respondiendo", x-bind="modalClose") Continua] responiendo el cuestionario

          // Modal solicitud enviada
          +modal({title:"Solicitud enviada", name:"modal-sended", titleClass:"has-text-accent"})
            p Tu solicitud ha sido enviada, agradecemos el tiempo que te has tomado en llenarla. Nuestro equipo se encargará de revisarla detenidamente para hacerte llegar nuestra respuesta lo antes posible.

            .buttons.are-vertical
              a.button.is-fullwidth(href="/") Volver al inicio

