extends ../templates/default
block vars
 - title = "Portafolio de impacto"
 - classes = "portafolio-impacto"
block content
  .container
    section.hero.is-medium
      .hero-container
        // Hero Card
        div.hero-card
          // Imagen Hero Card
          img.hero-image(src="images/demo/image-2.jpg", alt="", loading="lazy")
          // Contenido Hero Card
          .container.hero-card-container
            .hero-content.is-flex.is-columns.is-end
              // Título Hero Card
              p.text-regular-italic-l.has-text-white Impacto positivo
              h1.title-l.has-text-white.is-uppercase Portafolio de Impacto MFS

    section.mt-2
      .container.has-margin-bottom 
        article.grid.columns-2
          div
            h3.title-m.has-text-accent.is-uppercase Impacto desde el Paisaje
          div.mt-2
            div
              p Nuestros proyectos generan impacto positivo en el medio ambiente y mejoran las condiciones socioeconómicas de los productores, promoviendo prácticas agrícolas sostenibles que aumentan sus ingresos y resiliencia climática. Cada iniciativa cumple altos estándares ESG, garantizando gobernanza ambiental y social.
      .container.has-margin-bottom 
        img(src="images/demo/image-5.jpg", alt="", loading="lazy")
        article.content-editor.mt-2
          h3 Invertir en nuestro portafolio es unirse a un movimiento global por la regeneración de la naturaleza y el desarrollo comunitario.
          p A través de nuestro portafolio, se genera impacto en la siguientes áreas:
        .grid.columns-5.is-gapless.mt-4
          figure.area-icon
            img(src="images/icons/icon_regeneracion_de_ecosistemas_naturales.svg", alt="", loading="lazy")
            figcaption
              span Conversión de ecosistemas naturales
          figure.area-icon
            img(src="images/icons/icon_derechos_de_los_pueblos_indigenas.svg", alt="", loading="lazy")
            figcaption
              span Derechos de los pueblos indígenas
          figure.area-icon
            img(src="images/icons/icon_comunidades_locales.svg", alt="", loading="lazy")
            figcaption
              span Comunidades locales
          figure.area-icon
            img(src="images/icons/icon_disminucion_del_uso_de_pesticidas.svg", alt="", loading="lazy")
            figcaption
              span Uso de pesticidas
          figure.area-icon
            img(src="images/icons/icon_no_discriminacion_e_igualdad_de_oportunidades.svg", alt="", loading="lazy")
            figcaption
              span Prácticas de empleo
          figure.area-icon
            img(src="images/icons/icon_salud_del_suelo.svg", alt="", loading="lazy")
            figcaption
              span No discriminación e igualdad de oportunidades
          figure.area-icon
            img(src="images/icons/icon_recurso_8.svg", alt="", loading="lazy")
            figcaption
              span Salud y seguridad en el trabajo
          figure.area-icon
            img(src="images/icons/icon_inclusion_social_y_economica.svg", alt="", loading="lazy")
            figcaption
              span Trabajo forzoso u obligatorio
          figure.area-icon
            img(src="images/icons/icon_promocion_de_ingreso_y_salarios_vitales.svg", alt="", loading="lazy")
            figcaption
              span Inclusión económica
          figure.area-icon
            img(src="images/icons/icon_recurso_11.svg", alt="", loading="lazy")
            figcaption
              span Ingreso y salarios vitales
          figure.area-icon
            img(src="images/icons/icon_derechos_sobre_la_tierra_y_los_recursos.svg", alt="", loading="lazy")
            figcaption
              span Trabajo infantil
          figure.area-icon
            img(src="images/icons/icon_biodiversidad.svg", alt="", loading="lazy")
            figcaption
              span Derechos sobre la tierra y los recursos
          figure.area-icon
            img(src="images/icons/icon_disminucion_de_emisiones_de_gases_de_efecto_invernadero_gei.svg", alt="", loading="lazy")
            figcaption
              span Biodiversidad
          figure.area-icon
            img(src="images/icons/icon_seguridad_alimentaria.svg", alt="", loading="lazy")
            figcaption
              span Emisiones de GEI
          figure.area-icon
            img(src="images/icons/icon_mejores_practicas_de_empleo.svg", alt="", loading="lazy")
            figcaption
              span Seguridad alimentaria
          figure.area-icon
            img(src="images/icons/icon_salud_y_seguridad_en_el_trabajo.svg", alt="", loading="lazy")
            figcaption
              span Salud del suelo
          figure.area-icon
            img(src="images/icons/icon_adaptacion_al_clima_resiliencia_y_transicion.svg", alt="", loading="lazy")
            figcaption
              span Adaptación al clima, resiliencia y transición
      .container.has-margin-bottom
        h3.title-m.is-uppercase Paisajes de Impacto
        .grid.columns-2
          article.card-impact
            img.card-impact-image(src="images/demo/image-5.jpg", alt="", loading="lazy")
            div.card-impact-info.has-text-white
              h3.card-impact-title Chiapas y Tabasco
              div.card-impact-text
              p En Chiapas y Tabasco, nos enfocamos en su extraordinaria biodiversidad y el valioso legado de sus comunidades indígenas, promoviendo prácticas sostenibles que refuerzan la adaptación climática, la inclusión social y económica, así como los derechos territoriales, mejorando la resiliencia local.
              .buttons
                a.button.is-small.is-white(href="#") Conoce más
          article.card-impact
              img.card-impact-image(src="images/demo/image-5.jpg", alt="", loading="lazy")
              div.card-impact-info.has-text-white
                h3.card-impact-title Chiapas y Tabasco
                div.card-impact-text
                p En Chiapas y Tabasco, nos enfocamos en su extraordinaria biodiversidad y el valioso legado de sus comunidades indígenas, promoviendo prácticas sostenibles que refuerzan la adaptación climática, la inclusión social y económica, así como los derechos territoriales, mejorando la resiliencia local.
                .buttons
                  a.button.is-small.is-white(href="#") Conoce más
          article.card-impact
              img.card-impact-image(src="images/demo/image-5.jpg", alt="", loading="lazy")
              div.card-impact-info.has-text-white
                h3.card-impact-title Chiapas y Tabasco
                div.card-impact-text
                p En Chiapas y Tabasco, nos enfocamos en su extraordinaria biodiversidad y el valioso legado de sus comunidades indígenas, promoviendo prácticas sostenibles que refuerzan la adaptación climática, la inclusión social y económica, así como los derechos territoriales, mejorando la resiliencia local.
                .buttons
                  a.button.is-small.is-white(href="#") Conoce más
          article.card-impact
            img.card-impact-image(src="images/demo/image-5.jpg", alt="", loading="lazy")
            div.card-impact-info.has-text-white
              h3.card-impact-title Chiapas y Tabasco
              div.card-impact-text
              p En Chiapas y Tabasco, nos enfocamos en su extraordinaria biodiversidad y el valioso legado de sus comunidades indígenas, promoviendo prácticas sostenibles que refuerzan la adaptación climática, la inclusión social y económica, así como los derechos territoriales, mejorando la resiliencia local.
              .buttons
                a.button.is-small.is-white(href="#") Conoce más
    .container.is-fullwidth.has-margin-bottom.portfolio-container
      .grid.columns-2
        div.portfolio-banner
          p.text-regular-italic-l Invierte hoy y Transforma México con tus inversiones,
          h3.title-m.is-uppercase Juntos podemos generar un impacto ambiental real.
          .buttons
            a.is-large.is-fourth.button(href="#") Hablemos
        img.portfolio-banner-image(src="images/demo/image-8.jpg", alt="", loading="lazy")
