extends ../templates/default
block vars
 - title = "Paisaje"
 - classes = "paisaje"
block content
  .container
    section.hero.is-medium
      .hero-container
        // Hero Card
        div.hero-card
          // Imagen Hero Card
          img.hero-image(src="images/demo/img_paisajes-0.png", alt="", loading="lazy")
          // Contenido Hero Card
          .container.hero-card-container
            .hero-content.is-flex.is-columns.is-end
              // Título Hero Card
              h1.title-l.has-text-white.is-uppercase PROYECTOS IMPLEMENTADOS POR RAINFOREST ALLIANCE MÉXICO EN EL PAISAJE PENÍNSULA DE YUCATÁN
  .container.has-background-lighter-grey.pt-4(x-data="modals")
    .grid.columns-1.has-margin-bottom 
      section.grid.columns-2 
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Iniciativas implementadas en la región
          div
            ul
              li Mecanismo Dedicado Específico para Pueblos Indígenas y Comunidades Locales (MDE México)
              li Institucionalización de la Transparencia, la Gobernanza y los Beneficios: una Plataforma para consolidar el Desarrollo de la Cadena de Valor Forestal a Escala de Paisaje en el Sur de México (Tinker Foundation)
              li Community Listening Program (Programa CLP)
              li Nuestra Selva, Nuestro Futuro
              li Diseño de Programa para el Fortalecimiento de Capacidades Empresariales en la Industria de la Madera en la Península de Yucatán (Proyecto WRI)
              li Alianza por los Paisajes Sostenibles y Mercados (Paisajes y Mercados)
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Participantes de la Iniciativa 
          div
            ul
              li Agencia de los Estados Unidos para el Desarrollo Internacional (USAID)
              li Asistencia Técnica Local del MDE México
              li Banco Mundial 
              li Comisión Nacional Forestal 
              li Comité Directivo Nacional y Subcomités Regionales del MDE México
              li Conservación Internacional 
              li Docentes y jóvenes de instituciones educativas de Calakmul
              li Ejidos
              li Fondo de Inversión Forestal 
              li Instituto de Recursos Mundiales (WRI México)
              li Instituto Nacional de los Pueblos Indígenas 
              li Rainforest Alliance México
              li Secretaría de Desarrollo Económico de Quintana Roo 
              li Servicio Forestal de Estados Unidos
              li The Nature Conservancy
      section.grid.columns-1
        article.card-landscape.is-full
          img(src="images/demo/img_paisajes-1.jpg", alt="", loading="lazy")
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Objetivo de las iniciativas
          div
            p
              strong MDE México:
              | Fortalecer las capacidades de las personas que dependen de los bosques para participar en procesos relacionados con REDD+ e implementar buenas prácticas en diferentes sectores productivos, con la finalidad de catalizar el cambio hacia un modelo de desarrollo rural sustentable bajo en emisiones de CO2.
            p
              strong Tinker Foundation:
              | Impulsar el desarrollo empresarial comunitario y madurar esfuerzos de empresas forestales comunitarias para que sean viables en el mercado de la península de Yucatán, mediante el establecimiento de sistemas y herramientas de gobernanza empresarial sólidas, accesibles a través de una plataforma empresarial inter-ejidal.
            p
              strong Programa CLP:
              | Desarrollar y probar un conjunto de herramientas de investigación para incorporar las voces de las partes interesadas (comunidades forestales y agrícolas) en el diseño de programas, proyectos, políticas y estrategias de Rainforest Alliance. 
            p
              strong Nuestra Selva, Nuestro Futuro:
              | Crear capacidades de liderazgo para fomentar un mayor compromiso cívico y educación en el ambiente local, propiciando las condiciones para que los jóvenes puedan invertir personalmente en sus comunidades y en crear un futuro en ellas.
            p Proyecto WRI: Diseñar y realizar una prueba piloto de un programa de capacitación para pequeñas y medianas empresas forestales de 25 ejidos en la península de Yucatán, México.
            p
              strong Paisajes y mercados:
              | Reducir la deforestación y expandir la conservación forestal, promoviendo la restauración de paisajes productivos con alto riesgo de deforestación, así como la viabilidad económica de la comercialización de productos agrícolas y forestales manejados bajo buenas prácticas. Asimismo, fortalecer la resiliencia de los productores en el manejo de bosques y selvas ante la crisis climática.
      section.grid.columns-2
        article.card-landscape.is-full
          img(src="images/demo/img_paisajes-2.jpg", alt="", loading="lazy")
        article.card-landscape.is-full
          img(src="images/demo/img_paisajes-3.jpg", alt="", loading="lazy")
      section.grid.columns-3
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Periodo de implementación
          div
            ul
              li MDE México: 2017-2024
              li Tinker Foundation: 2018-2024
              li Programa CLP: 2022-2024
              li Nuestra Selva, Nuestro Futuro: 2016-2026
              li Proyecto WRI: 2023-2024
              li Paisajes y Mercados: 2018-2023
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Tipo de actividad/actividad productiva
          div
            ul
              li Restauración del ecosistema
              li Rehabilitación del ecosistema
              li Prevención de cambio de uso de suelo y degradación del ecosistema
              li Mejora en el manejo de tierras
              li Sistemas agroforestales
              li Sistemas silvopastoriles
              li Ecoturismo
              li Manejo forestal sustentable (maderable y no maderable)
              li Agricultura climáticamente inteligente
              li Transformación y comercialización de productos maderables
              li Producción de alimentos y artículos de higiene personal
              li Educación
              li Manejo de recursos naturales
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Ubicación geográfica
          div
            p Campeche, Yucatán y Quintana Roo
      section.grid.columns-2
        article.card-landscape.has-background-texture
          .buttons.are-right
            button.button-is-icon(type="button", @click="openModal", data-modal-target="alcance-nacional")
              img(src="images/icons/icon_zoom.svg", alt="", loading="lazy")
          img(src="images/demo/img_paisajes-4.jpg", alt="", loading="lazy")
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Propuestas de Valor
          div
            ul
              li Acceso a financiamiento y mercado a poblaciones indígenas y comunidades locales.
              li Participación y acceso a jóvenes y mujeres sin derechos sobre la tierra a beneficios en la gestión de bosque.
              li Promoción de la colaboración comercial maderable y no maderable mediante el impulso de empresas forestales comunitarias, para generar economías locales más resilientes y disminuir la presión sobre los recursos naturales de la región.
              li Identificación de beneficios directos e indirectos en las comunidades apoyadas por Rainforest Alliance México, así como problemas, desafíos, oportunidades y opiniones.
              li Escucha de las voces de los beneficiarios de Rainforest Alliance México. 
              li Generación de información base sobre beneficiarios para Rainforest Alliance México (línea base, revisión de indicadores, etc.).
              li Desarrollo de habilidades de jóvenes para la gestión de los recursos naturales.
              li Recuperación de tierras degradadas (restauración y reforestación).
              li Fortalecimiento de organizaciones (empresarial, marketing y comunicación).
              li Establecimiento de relaciones comerciales y acceso a mercados.
              li Generación de alianzas en toda la cadena de valor.
              li Inclusión de mujeres y jóvenes en las cadenas de valor.
      section.grid.columns-1
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Resultados a nivel nacional 
          div
            p MDE México
            ul
              li Financiamiento a 88 subproyectos (38 de la Ventana de Inclusión Financiera y 50 de la Ventana de Inclusión Social)
              li 3,850 personas beneficiadas (1,280 mujeres y 2,570 hombres)
              li 980 personas capacitadas (532 mujeres y 448 hombres)
              li 3,222 empleos temporales jornales (1,355 mujeres y 1867 hombres)
              li 30 Talleres de Intercambio de Conocimientos ejecutados (587 personas: 191 mujeres y 396 hombres)
              li 26 jóvenes Promotores Comuntarios Locales formados para el acompañamiento a los subproyectos (17 mujeres y 9 hombres)
              li Participación de 39 personas en eventos de incidencia en temas REDD+ (16 mujeres y 23 hombres)
            p MDE México
            ul
              li Financiamiento a 88 subproyectos (38 de la Ventana de Inclusión Financiera y 50 de la Ventana de Inclusión Social)
              li 3,850 personas beneficiadas (1,280 mujeres y 2,570 hombres)
              li 980 personas capacitadas (532 mujeres y 448 hombres)
              li 3,222 empleos temporales jornales (1,355 mujeres y 1867 hombres)
              li 30 Talleres de Intercambio de Conocimientos ejecutados (587 personas: 191 mujeres y 396 hombres)
              li 26 jóvenes Promotores Comuntarios Locales formados para el acompañamiento a los subproyectos (17 mujeres y 9 hombres)
              li Participación de 39 personas en eventos de incidencia en temas REDD+ (16 mujeres y 23 hombres)
            p ...
      section.grid.columns-2
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Areas de impacto
          div
            p Haga click en el icono para conocer más.
          .grid-areas
            div
              button.button-is-area(type="button", @click="openModal", data-modal-target="area-01")
                img(src="images/icons/icon_adaptacion_al_clima_resiliencia_y_transicion.svg", alt="", loading="lazy")
                span Adaptación al clima, resiliencia y transición
            div
              button.button-is-area(type="button", @click="openModal", data-modal-target="area-01")
                img(src="images/icons/icon_adaptacion_al_clima_resiliencia_y_transicion.svg", alt="", loading="lazy")
                span Adaptación al clima, resiliencia y transición
            div
              button.button-is-area(type="button", @click="openModal", data-modal-target="area-01")
                img(src="images/icons/icon_adaptacion_al_clima_resiliencia_y_transicion.svg", alt="", loading="lazy")
                span Adaptación al clima, resiliencia y transición
            div
              button.button-is-area(type="button", @click="openModal", data-modal-target="area-01")
                img(src="images/icons/icon_adaptacion_al_clima_resiliencia_y_transicion.svg", alt="", loading="lazy")
                span Adaptación al clima, resiliencia y transición
            div
              button.button-is-area(type="button", @click="openModal", data-modal-target="area-01")
                img(src="images/icons/icon_adaptacion_al_clima_resiliencia_y_transicion.svg", alt="", loading="lazy")
                span Adaptación al clima, resiliencia y transición
            div
              button.button-is-area(type="button", @click="openModal", data-modal-target="area-01")
                img(src="images/icons/icon_adaptacion_al_clima_resiliencia_y_transicion.svg", alt="", loading="lazy")
                span Adaptación al clima, resiliencia y transición
        article.card-landscape
          .buttons.are-right
            button.button-is-icon(type="button", @click="openModal", data-modal-target="areas-01")
              img(src="images/icons/icon_zoom.svg", alt="", loading="lazy")
          img(src="images/demo/img_paisajes-5.jpg", alt="", loading="lazy")
      section.grid.columns-3
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Superficie de intervención a nivel nacional
          div
            ul
              li MDE México: 120,792 ha
              li Tinker Foundation: 700,000 ha
              li CLP: -
              li Nuestra Selva, Nuestro Futuro: -
              li WRI: -
              li Paisajes y Mercados: 172,840 ha
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Tipo de ecosistema
          div
            p Selva tropical (baja, media y alta)
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Tenencia de la tierra
          div
            p Comunal/ejidal
      section.grid.columns-1
        article.card-landscape.is-full
          img(src="images/demo/img_paisajes-1.jpg", alt="", loading="lazy")
      section.grid.columns-2
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Beneficios a las mujeres
          div
            ul
              li Ingresos y activos
              li Tiempo
              li Educación y conocimiento
              li Liderazgo
              li Seguridad alimentaria
        article.card-landscape
          h3.title-m.is-uppercase.mt-0 Información pública de las iniciativas
          div
            p MDE México: 
              br
              | Página web: www.mde-mexico.org 
              br
              | FB: @MDEBosquesMexico 
              br
              | X: @mde_mexico 
            p Paisajes y Mercados:
              br
              a(href="mailto:https://www.mercadosporunfuturosostenible.org/") https://www.mercadosporunfuturosostenible.org/
      .modals
        // Modal Alcance Nacional
        +modalFullImage({name:"alcance-nacional"})
          img(src="images/demo/img_paisajes-4.jpg", alt="", loading="lazy")
        // Modal Objetivos de Desarrollo Sostenible
        +modalFullImage({name:"objetivos-ds"})
          img(src="images/demo/img_paisajes-5.jpg", alt="", loading="lazy")
        // Área 01
        +modal({title:"Adaptación al clima, resiliencia y transición",name:"area-01"})
          .is-flex.is-centered
            img(src="images/icons/icon_adaptacion_al_clima_resiliencia_y_transicion.svg", alt="", loading="lazy")
          p.has-text-centered  Nuestros proyectos contribuyen a fortalecer la resiliencia climática de las comunidades, promoviendo su adaptación al cambio climático mediante prácticas sostenibles y transiciones productivas.