@layer components {
  .portfolio-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 0.5rem;
    background: var(--lighter-grey);

    [class*="title"] {
      line-height: 1.2;
      margin-block-start: 0;
    }
  }

  .portfolio-banner-image {
    border-radius: 0.5rem;
  }

  .portfolio-container {
    position: relative;
    overflow: hidden;

    &::after,
    &::before {
      position: absolute;
      z-index: -1;
      height: 100%;
      background: var(--lighter-grey);
      content: "";

      @media (--tablet) {
        display: none;
      }
    }

    &::after {
      /* right: 0;
      width: calc( ( 100vw - var(--container-width) ) / 2 ); */
      display: none;
    }

    &::before {
      left: 0;
      width: calc(50vw - 3rem);
    }
  }
}
