fieldset(data-form-step="4", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Agricultura
  .field
    label(for="pregunta_20") 4.1 Mencione cómo, en la medida de lo posible, su iniciativa promueve el pago justo a las y los productores. Ejemplo: Se establece el precio de compra del café entre los socios de la organización, bajo los lineamientos del comercio justo que impacten de una manera equitativa a los 52 productoras y 50 productores en 39 hectáreas
    textarea(id="pregunta_20", name="pregunta_20")

  .field
    label(for="pregunta_21") 4.2 En el caso de que la iniciativa promueva relaciones de trabajo, mencione ¿cómo se promueven las condiciones de trabajo dignas para las y los productores? Ejemplo: En las fincas de producción de café, durante la temporada de cosecha, se brinda acceso a servicios básicos como acceso a sanitarios y agua potable a 150 trabajadores y trabajadoras
    textarea(id="pregunta_21", name="pregunta_21")

