fieldset(data-form-step="3", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Ingresos y responsabilidad compartida
  .field
    label(for="pregunta_17") 3.1 Ejemplo: Los envases de productos biológicos generados en el control de plagas y enfermedades, se manejan con triple lavado, perforación y disposición en centros de acopio primarios. Los muestreos y control de la mosca de la fruta en huertas se realizan de acuerdo con la normatividad fitosanitaria
    textarea(id="pregunta_17", name="pregunta_17")

  .field
    label(for="pregunta_18") 3.2 ¿Cómo asegura que sus trabajadores reciban un salario justo y condiciones laborables seguras, y qué mecanismos tiene para fomentar la equidad y la inclusión en su comunidad? Ejemplo: Garantizamos salarios por encima del mínimo legal y proporcionamos equipos de protección personal adecuados. Realizamos auditorías internas y externas para asegurar el cumplimiento de las normativas laborales. Además, implementamos programas de capacitación y desarrollo profesional para todos los empleados, con un enfoque especial en la inclusión de mujeres y jóvenes en roles de liderazgo dentro de la SPR. Ofrecemos salarios competitivos y beneficios adicionales como seguro médico y transporte. Mantenemos un comité de seguridad laboral que revisa y mejora continuamente las condiciones de trabajo. También promovemos la equidad mediante políticas de no discriminación y programas de sensibilización. Colaboramos con organizaciones locales para apoyar la educación y el empoderamiento de grupos vulnerables
    textarea(id="pregunta_18", name="pregunta_18")

  .field
    label(for="pregunta_19") 3.3 ¿Qué estrategias utiliza para promover la transparencia y la trazabilidad en su cadena de suministro, y cómo colabora con otros actores para mejorar la sostenibilidad en su cadena? Ejemplo: Hemos implementado un sistema de etiquetado detallado que proporciona información sobre el origen y el proceso de producción de nuestros productos. Además, participamos en alianzas estratégicas con proveedores y distribuidores para asegurar prácticas sostenibles en toda la cadena de suministro. Trabajamos en conjunto con instituciones académicas y de investigación para desarrollar e implementar innovaciones sostenibles
    textarea(id="pregunta_19", name="pregunta_19")

