fieldset(data-form-step="6", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Medio ambiente
  .field
    label(for="pregunta_25") 6.1 ¿Qué acciones promueve su iniciativa para combatir la crisis climática? Ejemplo: Promovemos la reforestación y restauración de 3 has. afectadas por los incendios de 2018 en el municipio de Villaflores, Chiapas. Empleamos insumos orgánicos para la fertilización y manejo integrado de plagas y enfermedades. Realizamos la recuperación de áreas degradadas (evitamos el cambio de uso de suelo), Mejoramos la gestión y uso eficiente del agua
    textarea(id="pregunta_25", name="pregunta_25")

  .field
    label(for="pregunta_26") 6.2 La trazabilidad, transparencia y confianza en cada acción implementada es muy importante para lograr alianzas fuertes, mencione las acciones que tomarán para aportar estos elementos a la iniciativa. Ejemplo: En caso de identificar el uso de un agroquímico prohibido por su impacto a la salud de los productores y/o del medio ambiente, mencionaré esta situación a la alianza y optaremos por identificar estrategias de prevención para evitar en el futuro nuevamente su empleo
    textarea(id="pregunta_26", name="pregunta_26")

  .field
    label(for="file") 6.3 Mencione cuántas hectáreas son impactadas con un mejor manejo de los recursos naturales gracias a su trabajo. Ejemplo
    p Para responder, descarga el formato del siguiente enlace, llenalo y adjuntalo en el siguiente campo: #[a(href="#!") Formato de Trazabilidad].
    .field
      label.button.is-outlined.is-file(x-data="inputfile", for="file", tabindex="0") Seleccionar archivo:
        span.has-text-accent(x-text="filename")
        input(type="file", id="file", name="file", accept=".xls, .xlsx", hidden, x-bind="filefield")

// NOTE: Copiar hasta aquí
