fieldset(data-form-step="5", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Social
  .field
    label(for="pregunta_22") 5.1 Mencione cómo sus actividades promueven la erradicación del uso de agroquímicos que dañan a la gente y a los ecosistemas Ejemplo: 45 productores y productoras han recibido capacitación sobre el uso de productos agroquímicos y la identificación de productos dañinos, de acuerdo a lo establecido en la hoja de seguridad del producto
    textarea(id="pregunta_22", name="pregunta_22")

  .field
    label(for="pregunta_23") 5.2 ¿Su empresa, grupo o cooperativa tiene establecidos indicadores que permitan evaluar su impacto ambiental? Sí o no, ¿Por favor, especifique cuáles son estos indicadores? Ejemplo: Niveles de contaminación atmosférica, porcentaje de residuos recogidos selectivamente
    textarea(id="pregunta_23", name="pregunta_23")

  .field
    label(for="pregunta_24") 5.3 Mencione si su empresa fomenta la participación e inclusión de jóvenes y mujeres en sus actividades y cómo lo hace. Ejemplo: En nuestra empresa fomentamos que los jóvenes realicen prácticas en las diferentes áreas de trabajo con la finalidad de que identifiquen sus habilidades y desarrollen un plan de especialización
    textarea(id="pregunta_24", name="pregunta_24")

