fieldset(data-form-step="2", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Trazabilidad
  .field
    label(for="pregunta_11") 2.1 ¿Cuál es el volumen de producción anual del o los productos que le interesa promover? Ejemplo: Café Verde 5 toneladas al año, Café Oro 10 toneladas al año, Café Tostado y Molido 20 toneladas
    textarea(id="pregunta_11", name="pregunta_11")

  .field
    label(for="pregunta_12") 2.2 Para identificar cómo Mercados por un Futuro Sostenible pude ayudar a incrementar la visibilidad a su empresa, cooperativa, marca o producto, mencioné sus actuales canales de venta Ejemplo: Facebook, Instagram, Amazon, Mercado Libre, La Central de Abastos de Iztapalapa, Mercado del 100, GreenCorner, Aires del Campo, Slow Food, Consuma Conciencia, Verde Venus, Cafeterías de autor, Restaurantes Pujol, Ferias orgánicas de Alcaldías
    textarea(id="pregunta_12", name="pregunta_12")

  .field
    label(for="pregunta_13") 2.3 Mencione las actividades que su iniciativa realiza para promover el fortalecimiento y establecimiento de cadenas de suministro nacionales y de productos con mejores prácticas ambientales y sociales. Ejemplo: Empleo de insumos locales para elaboración de abonos, biofertilizantes, caldos minerales, infusiones, etc; empleamos materia prima local beneficiando a las comunidades aledañas; contratamos los servicios de transportación de un proveedor local
    textarea(id="pregunta_13", name="pregunta_13")

  .field
    label(for="pregunta_14") 2.4 ¿Su empresa cuenta con alguna certificación socioambiental? Sí o no, Por favor, especifique. Ejemplo: Sí, en el Buen Uso y Manejo de Agroquímicos, SENASICA; en Sistema de Reducción de Riesgos de Contaminación, SENASICA; Certificación Participativa, Mercado Orgánico de Chapingo; Rainforest Alliance, GLOBAL GAP
    textarea(id="pregunta_14", name="pregunta_14")

  .field
    label(for="pregunta_15") 2.5 ¿Ha recibido algún premio o reconocimiento?, Sí o no. Favor de mencionar cuál o cuáles han sido estos reconocimientos (por su producto, por su labor, por sus buenas prácticas). Ejemplo: Medalla de oro, por 5 años de participación en la Expo Café y Chocolate en Guanajuato
    textarea(id="pregunta_15", name="pregunta_15")

  .field
    label(for="pregunta_16") 2.6 Mencione cuántas productoras/es se benefician de la comercialización de su producto (desglosar en hombres y mujeres)
    textarea(id="pregunta_16", name="pregunta_16")

