fieldset(data-form-step="4", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Agricultura
  .field
    label(for="pregunta_19") 4.1 Menciona cómo su iniciativa promueve el NO uso de organismos genéticamente modificados (OGM’s). Ejemplo: Mantenemos comunicación constante con nuestros proveedores para asegurarnos que emplean variedades nativas o criollas en la producción de hortalizas y que en la producción de carne no empleen alimentos genéticamente modificados para el crecimiento y desarrollo del ganado.
    textarea(id="pregunta_19", name="pregunta_19")

  .field
    label(for="pregunta_20") 4.2 ¿Cómo sus actividades promueven la erradicación del uso de sustancias peligrosas que dañan a la gente y a los ecosistemas? Ejemplo: En nuestro establecimiento empleamos productos biodegradables para la limpieza de instalaciones, así como para el lavado de insumos y utensilios en cocina. Adicionalmente, contamos con sistema de trampa de grasas que impide que estas lleguen al sistema de drenaje.
    textarea(id="pregunta_20", name="pregunta_20")

