fieldset(data-form-step="1", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Gestión
  .field
    label(for="pregunta_1") 1.1 ¿A partir de qué año inició operaciones su empresa?
    input(type="text",id="pregunta_1", name="pregunta_1", placeholder="Ej. 1980")

  .field
    label(for="pregunta_2") 1.2 ¿Cuáles son los productos y/o servicios que le interesa promover en la iniciativa Mercados por un Futuro Sostenible?
    textarea(id="pregunta_2", name="pregunta_2")

  .field
    label(for="pregunta_3") 1.3 ¿Cuántos puntos de venta tienen y en qué localidades? Ejemplo: Tres unidades en: Lomas de Sotero, Miguel Ángel de Quevedo y Universidad.
    textarea(id="pregunta_3", name="pregunta_3")

  .field
    label(for="pregunta_4") 1.4 Describa las características de su o sus productos y/o servicios (color, olor, diseño, peso o volumen, calidad, estética, así como otras características que crea relevante mencionar) Ejemplo: (Producto) Tabletas de chocolate puro sin lecitina de soya, libre de conservadores artificiales.
    textarea(id="pregunta_4", name="pregunta_4")

  .field
    label(for="pregunta_5") 1.5 Mencione bajo que presentaciones ofrece sus productos, incluyendo ¿cuál es la marca? y ¿cómo están envasados o empaquetados?. No aplica para cafeterías y restaurantes. Ejemplo: Vendemos tabletas de chocolate en barra en presentaciones de bolsillo 200grs y de mesa de 500grs, bajo la marca “Teobroma”.
    textarea(id="pregunta_5", name="pregunta_5")

  .field
    label(for="pregunta_6") 1.6 ¿Cuál es el volumen de producción mensual del o los productos que le interesa promover? Ejemplo: 200 tabletas de 75% chocolate puro de 250grs., 1,000 bombones cubiertos de chocolate.
    textarea(id="pregunta_6", name="pregunta_6")

  .field
    label(for="pregunta_7") 1.7 Para identificar como Mercados por un Futuro Sostenible pude ayudar a incrementar la visibilidad a su empresa, mencioné ¿cuáles son sus actuales canales de promoción/venta? Ejemplo: Cafeterías, restaurantes, Facebook, Instagram, Amazon, Mercado Libre, La Central de Abastos de Iztapalapa, Mercado del 100, GreenCorner, Aires del Campo, Slow Food, Consuma Conciencia, Verde Venus, Cafeterías de autor, Restaurantes Pujol, Ferias orgánicas de Alcaldías.
    textarea(id="pregunta_7", name="pregunta_7")

  .field
    label(for="pregunta_8") 1.8 Menciona las actividades que su iniciativa realiza para promover el fortalecimiento y establecimiento de cadenas de suministro nacionales y de productos con mejores prácticas ambientales y sociales. Ejemplo: Optamos por el empleo de insumos y materiales de procedencia nacional y preferentemente de pequeños productores; por ejemplo, el huevo, tortillas y pan artesanal lo compramos de productores locales, el tamarindo, jamaica y sal es adquirido con proveedores de Guerrero que comercializan cada mes en mercado alternativo local.
    textarea(id="pregunta_8", name="pregunta_8")

  .field
    label(for="pregunta_9") 1.9 Menciona brevemente como su iniciativa promueve el cumplimiento de las regulaciones mexicanas aplicables en vigor. Ejemplo: Nuestro taller de chocolate cumple con lo que señalan las Leyes de Establecimientos Mercantiles, Ambiental, de Protección Civil y del IMSS para su correcta operación, las cuales son supervisadas por la autoridad competente.
    textarea(id="pregunta_9", name="pregunta_9")

  .field
    label(for="pregunta_10") 1.10 ¿Tu empresa cuenta con alguna certificación socioambiental?, si o no, ¿Cuál o cuáles? Ejemplo: (Productos) Distintivo Kosher, SAGARPA Orgánico. (Servicio) última actualización del distintivo H, Gestión Alimentaria.
    textarea(id="pregunta_10", name="pregunta_10")

  .field
    label(for="pregunta_11") 1.11 Su empresa tiene establecido indicadores que permita evaluar su impacto ambiental, si o no, ¿Señale cuáles son esos indicadores? Ejemplo: Niveles de contaminación atmosférica, porcentaje de residuos recogidos selectivamente.
    textarea(id="pregunta_11", name="pregunta_11")

  .field
    label(for="pregunta_12") 1.12 Mencione ¿Cuántas productoras/es se benefician de la compra de sus insumos (desglosar en hombres y mujeres)
    textarea(id="pregunta_12", name="pregunta_12")

