fieldset(data-form-step="6", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Medio ambiente
  .field
    label(for="pregunta_26") 6.1 Menciona las acciones en su iniciativa, que promueven prácticas que no causan deforestación o degradación de ecosistemas. Ejemplo: Previo a establecer relación comercial con nuestros actuales proveedores nos aseguramos de que implementaran practicas agroecológicas en el proceso productivo y evitaran el crecimiento de la frontera agrícola en las 6 hectáreas donde trabajan. En la operación de nuestra cafetería adaptamos infraestructura como la hídrica para el ahorro de agua y la lumínica para eficientizar la energía eléctrica, además empleamos suministros ecoeficientes y realizamos una gestión adecuada de residuos.
    textarea(id="pregunta_26", name="pregunta_26")

  .field
    label(for="pregunta_27") 6.2 Su iniciativa promueve "Acciones para combatir la crisis climática" Ejemplo: Evitamos el desperdicio de alimentos que sobran al donarlos a las personas que lo necesitan, actualmente donamos 30 comidas al día. En el caso de alimentos para llevar, promovemos “cero basura” al realizar descuentos especiales para quienes proporcionan sus recipientes y brindamos recipientes biodegadables con costo extra para quienes no portan contenedores; también hemos iniciado una campaña para impulsar entre nuestros consumidores el uso de sus propios termos para disminuir el empleo de desechables.
    textarea(id="pregunta_27", name="pregunta_27")

  .field
    label(for="file") 6.3 Mencione ¿Cuántas hectáreas son impactadas con un mejor manejo de los recursos naturales gracias a su compra?
    p Para responder, descarga el formato del siguiente enlace, llenalo y adjuntalo en el siguiente campo: #[a(href="#!") Formato de Trazabilidad].
    .field
      label.button.is-outlined.is-file(x-data="inputfile", for="file", tabindex="0") Seleccionar archivo:
        span.has-text-accent(x-text="filename")
        input(type="file", id="file", name="file", accept=".xls, .xlsx", hidden, x-bind="filefield")

