fieldset(data-form-step="5", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Social
  .field
    label(for="pregunta_21") 5.1 Indica cuáles han sido las capacitaciones recibidas para el fortalecimiento de tu actividad productiva, favor de incluir evidencia. Ejemplo: Capacitación en Manejo Adecuado de Residuos Sólidos, promovido por la Secretaría de Ecología del Gobierno Local a través de la Dirección de Recursos Naturales en agosto de 2019. Prevención de Accidentes en el Ambiente Laboral, impartido por la Dirección de Protección Civil del Gobierno del Estado en febrero de 2020
    textarea(id="pregunta_21", name="pregunta_21")

  .field
    label(for="pregunta_22") 5.2 Menciona como en la medida de lo posible, su iniciativa promueve el pago justo a las y los productores. Ejemplo: Implementamos el comercio justo entre nuestros proveedores y consumidores, con este método de trabajo beneficiamos a 30 productores y productoras.
    textarea(id="pregunta_22", name="pregunta_22")

  .field
    label(for="pregunta_23") 5.3 En el caso de que la iniciativa promueva relaciones de trabajo, menciona cómo se promueven las condiciones de trabajo dignas para las y los trabajadores. Ejemplo: Las 8 personas que integran el personal, reciben uniforme de acuerdo con el desempeño de sus funciones, se les brinda alimentación con acceso al servicio básico de sanitario y en el momento de su incorporación se afilian al seguro médico. En caso de requerirlo se cuenta con botiquín de primeros auxilios equipado y con medicamento en vigencia, en caso de siniestros se cuenta con extintores recargados debidamente señalados.
    textarea(id="pregunta_23", name="pregunta_23")

  .field
    label(for="pregunta_24") 5.5 Han recibido algún premio o reconocimiento, si o no. Favor de mencionar cuál o cuáles han sido estos reconocimientos (por su producto, por su labor, por sus buenas prácticas) Ejemplo: (Producto) Medalla de oro, por 5 años de participación en la Expo Café y Chocolate en Guanajuato. (Servicio) Estrella Michellin.
    textarea(id="pregunta_24", name="pregunta_24")

  .field
    label(for="pregunta_25") 5.5 Considera que su producto y/o servicio genera algún beneficio socioambiental, indique cuales son los beneficios ambientales que su empresa genera. Ejemplo: (Productos)Pagamos precio justo a comunidades que producen bajo sistema agroforestal y mediante prácticas orgánicas. (Servicios) contamos con un sistema de tratamiento de aguas residuales con las que damos mantenimiento a 300 m2 de jardines públicos.
    textarea(id="pregunta_25", name="pregunta_25")

