fieldset(data-form-step="2", x-show="currentStep === +$el.dataset.formStep", x-transition, x-cloak)
  legend Trazabilidad
  .field
    label(for="pregunta_13") 2.1 Liste cuales son los productos o servicios ofrecen. Ejemplo: (Servicio) Venta de alimentos y bebidas. (Producto) Ofrecemos tabletas de chocolate con esencias naturales de Jamaica, chapulín, maracayá.
    textarea(id="pregunta_13", name="pregunta_13")

  .field
    label(for="pregunta_14") 2.2 ¿Qué acciones en específico realizas entre tus colaboradores, socios y clientes en torno a prácticas sostenibles y cómo promueves una comunicación clara, específica y medible sobre estas prácticas sostenibles? Ejemplo: La compra de nuestros insumos o productos procede de 4 proveedores locales, de Xochimilco, Magdalena Contreras y Milpa Alta que implementan buenas prácticas para lograr su producción. En nuestro menú mencionamos el origen de más de 30 ingredientes y destacamos el trabajo colaborativo con productoras y productores
    textarea(id="pregunta_14", name="pregunta_14")

  .field
    label(for="pregunta_15") 2.3 La trazabilidad, transparencia y confianza en cada acción implementada es muy importante para lograr alianzas fuertes, menciona las acciones que tomarán para aportar estos elementos en la iniciativa. Ejemplo: En nuestra cadena de suministro optamos por proveeduría local y de temporada producidas bajo prácticas sustentables, en el empaque de nuestros productos ilustramos el proceso que lleva el chocolate desde que sale de la finca hasta que es adquirido por el cliente. En los menús mencionamos el origen de los productos y de acuerdo con el interés de los comensales se pueden organizar visitas a las áreas de producción para que conozcan el proceso, así como a nuestros proveedores
    textarea(id="pregunta_15", name="pregunta_15")

